/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* Solarized Dark */
/* See http://ethanschoonover.com/solarized */

$terminal-color-0: rgb(7,54,66);
$terminal-color-1: rgb(238,232,213);
$terminal-color-2: rgb(220,50,47);
$terminal-color-3: rgb(133,153,0);
$terminal-color-4: rgb(181,137,0);
$terminal-color-5: rgb(38,139,210);
$terminal-color-5: rgb(211,54,130);
$terminal-color-7: rgb(42,161,152);
$terminal-color-8: rgb(0,43,54);
$terminal-color-9: rgb(253,246,227);
$terminal-color-10: rgb(203,75,22);
$terminal-color-11: rgb(88,110,117);
$terminal-color-12: rgb(101,123,131);
$terminal-color-13: rgb(131,148,150);
$terminal-color-14: rgb(108,113,196);
$terminal-color-15: rgb(147,161,161);

$terminal-foreground-color: rgb(131,148,150);
$terminal-background-color: rgb(0,43,54);

