/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* Base16 Default Light */

$terminal-foreground-color: #383838;
$terminal-background-color: #f8f8f8;
$terminal-cursor-background-color: #383838;

$terminal-color-0: #f8f8f8;
$terminal-color-1: #ab4642;
$terminal-color-2: #a1b56c;
$terminal-color-3: #f7ca88;
$terminal-color-4: #7cafc2;
$terminal-color-5: #ba8baf;
$terminal-color-6: #86c1b9;
$terminal-color-7: #383838;
$terminal-color-8: #b8b8b8;
$terminal-color-9: #ab4642;
$terminal-color-10: #a1b56c;
$terminal-color-11: #f7ca88;
$terminal-color-12: #7cafc2;
$terminal-color-13: #ba8baf;
$terminal-color-14: #86c1b9;
$terminal-color-15: #181818;
