/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/pxToRem";
@import "general-gui/variables";
 
/* embedded-frame styles */
 
$TERMINAL_MARGIN_LEFT: 4px;
$TERMINAL_MARGIN_RIGHT: 4px;
 
$border-width: 1px;

$neutral-bg-color: $base-border-color;
$success-color: $brand-primary;
$success-bg-color: $background-primary-color;
$fail-color: $brand-danger;
$fail-bg-color: $background-danger-color;

$corner-radius: 3px;

$header-bg-color: $level-1-color;

$BLOCK_BORDER_LEFT: 2px;
$BLOCK_BORDER_RIGHT: 2px;
$BLOCK_BORDER_BOTTOM: 2px;
 
$TEAR_BORDER_HEIGHT: 2px;
 
 
:host {
  display: block;
  width: 100%;
  contain: strict;
}
 
#ID_CONTAINER {
  contain: content;
  width: calc(100% - #{$TERMINAL_MARGIN_LEFT + $BLOCK_BORDER_LEFT - $TERMINAL_MARGIN_RIGHT + $BLOCK_BORDER_RIGHT});
  height: 100%;
  box-sizing: border-box;
   
  margin-left: $TERMINAL_MARGIN_LEFT - $BLOCK_BORDER_LEFT;
  margin-right: $TERMINAL_MARGIN_RIGHT - $BLOCK_BORDER_RIGHT;
     
  position: relative;
}
 
#ID_HEADER {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 5;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: $text-color;
  background-color: $header-bg-color;

  border: $border-width solid $neutral-bg-color;
  border-bottom-width: 0px;
  border-top-left-radius: $corner-radius;
  border-top-right-radius: $corner-radius;

  box-shadow: inset 0px -1px $neutral-bg-color;
}

#ID_OUTPUT_CONTAINER {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;

  border-left: $border-width solid $neutral-bg-color;
  border-right: $border-width solid $neutral-bg-color;
  border-bottom: $border-width solid $neutral-bg-color;

  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;
}

// Running
#ID_CONTAINER.CLASS_RUNNING {

  & > #ID_HEADER {
    border-color: $neutral-bg-color;
    border-radius: $corner-radius;
    border-bottom-width: $border-width;
    box-shadow: none;
  }

  & > #ID_OUTPUT_CONTAINER {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

// Neutral
#ID_CONTAINER.CLASS_NEUTRAL {

  & > #ID_HEADER {
    border-left-color: $neutral-bg-color;
    border-top-color: $neutral-bg-color;
    border-right-color: $neutral-bg-color;
  }

  & > #ID_OUTPUT_CONTAINER {
    border-left-color: $neutral-bg-color;
    border-bottom-color: $neutral-bg-color;
    border-right-color: $neutral-bg-color;
  }
}


// Succeeded
#ID_CONTAINER.CLASS_SUCCEEDED {
  & > #ID_HEADER {
    border-left-color: $success-bg-color;
    border-top-color: $success-bg-color;
    border-right-color: $success-bg-color;
  }

  & > #ID_OUTPUT_CONTAINER {
    border-left-color: $success-bg-color;
    border-bottom-color: $success-bg-color;
    border-right-color: $success-bg-color;
  }
  & #ID_ICON_DIV {
    color: $success-color;
  }
}

// Failed
#ID_CONTAINER.CLASS_FAILED {
  & > #ID_HEADER {
    border-left-color: $fail-bg-color;
    border-top-color: $fail-bg-color;
    border-right-color: $fail-bg-color;
  }

  & > #ID_OUTPUT_CONTAINER {
    border-left-color: $fail-bg-color;
    border-bottom-color: $fail-bg-color;
    border-right-color: $fail-bg-color;
  }
  & .left_block {
    color: $fail-color;
  }
}
 
#ID_CONTAINER.CLASS_SUCCEEDED > #ID_OUTPUT_CONTAINER,
#ID_CONTAINER.CLASS_NEUTRAL > #ID_OUTPUT_CONTAINER,
#ID_CONTAINER.CLASS_FAILED > #ID_OUTPUT_CONTAINER {
  padding-bottom: -1*$BLOCK_BORDER_BOTTOM;
}
 
/* *** Output DIV *** */
#ID_OUTPUT {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
/* Block of controls top left/right */
.left_block, .right_block {
  flex: 0 0 auto;
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  align-items: center;
}
 
/* Eliminate any outline around the button when it is clicked. */
.right_block BUTTON:focus {
  outline: 0px;
}
 
/* *** Icon Div *** */
#ID_ICON_DIV {
  display: inline-block;
  padding-right: 0.5em;
}
 
/* *** Comand line DIV *** */
#ID_COMMAND_LINE {
  flex: auto 0 1;
}
 
.right_block BUTTON {
  &:hover {
    color: $text-highlight-color;
  }
}
 
#ID_EXPAND_BUTTON, #ID_CLOSE_BUTTON, #ID_POP_OUT_BUTTON {
  flex: 0 0 auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  vertical-align: baseline;
  background-image: none;
  height: auto;

  transition: color 0.2s ease-in-out;
}

#ID_CONTAINER.scrolling > #ID_HEADER {
  border-bottom: $TEAR_BORDER_HEIGHT dashed var(--terminal-background-color);
  margin-bottom: -1 * $TEAR_BORDER_HEIGHT;
}

#ID_CONTAINER.bottom-not-visible.bottom-not-visible > #ID_OUTPUT_CONTAINER {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header_spacer {
  flex: 0em 1 1;
}

.spacer {
  flex: 1em 0 0;
  min-width: 1em;
}
        
#ID_TAG_NAME {
  flex: 0 1 auto;
  padding-left: 0.25rem;
}

#ID_CONTAINER.not-scrolling #ID_SCROLL_NAME, #ID_CONTAINER.not-scrolling #ID_SCROLL_ICON {
  display: none;
}

#ID_SCROLL_NAME {
  text-align: right;
  min-width: 2.5em;
  padding-left: 0.5em;
}
