/**
 * Copyright 2021 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";

.CLASS_MATCHING_TEXT {
  font-weight: bold;
  color: $accent-only-text-color;
}

.CLASS_RESULT_SELECTED .CLASS_MATCHING_TEXT {
  color: mix($text-selected-color, $accent-only-text-color, 60%);
}
