/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/pxToRem";
@import "general-gui/variables";

//---
// $tab-height: pxToRem(26px);

$tab-top-padding: 0;

$tab-bottom-border-height: pxToRem(5px);
$tab-border: 1px solid $tab-border-color;
$tab-bar-bottom-border-color: #111111;
$tab-max-width: 20rem;


.extraterm-tabs {
  position: relative;
  display: flex;
  height: $ui-tab-height;
  -webkit-user-select: none;
  -webkit-padding-start: 0;

  list-style: none;
  margin: 0;

  box-shadow: inset 0 -1px 0 $tab-border-color;
  background: $tab-bar-background-color;
  
  padding: 0 0 0 0;

  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 0;


  &::-webkit-scrollbar {
    display: none;
  }

  & > LI {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }

  & > LI.tab {
    display: inline-block;
    flex: 1;
    -webkit-user-drag: element;

    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    height: inherit;
    font-size: inherit;
    line-height: $ui-tab-height;
    color: $tab-text-color;
    background-color: $tab-background-color;
    box-shadow: inherit;
    border-left: 1px solid $tab-border-color;
    
    max-width: $tab-max-width;

    &.active {
      color: $tab-text-color-active;
      background-color: $tab-background-color-active;
      box-shadow: none;
    }
    
    &.active:before {
      content: "";
      position: absolute;
      pointer-events: none;
      z-index: 2;
      top: 0;
      left: -1px; // cover left border
      bottom: 0;
      width: 2px;
      background: $accent-color;
    }

    &:first-of-type {
      border-left-color: transparent;
    }

    &:last-of-type {
      // use box-shadow to not take up any space
      box-shadow: inset 0 -1px 0 $tab-border-color, 1px 0 0 $base-border-color;
    }

    &.active:last-of-type {
      box-shadow: 1px 0 0 $base-border-color;
    }

    // .close-icon {
    //   right: 0;
    //   z-index: 3;
    //   text-align: right;
    //   line-height: $tab-height;
    //   color: $text-color;

    //   &:hover {
    //     color: inherit;
    //   }
    // }

    // & > * {
    //   position: relative;
    //   z-index: 1;
    //   margin-top: -$tab-top-padding - pxToRem(1px);
    //   padding-top: $tab-top-padding + pxToRem(1px);
    //   padding-right: pxToRem(10px);
    // }
  }

  // .placeholder {
  //   height: $tab-height + $tab-top-padding + $tab-bottom-border-height;
  //   margin-left: pxToRem(-9px); // center between tabs
  //   pointer-events: none;
  //   &:after {
  //     top: $tab-height + $tab-top-padding + $tab-bottom-border-height - pxToRem(2px);
  //   }
  // }
}
