/**
 * Copyright 2016-2021 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/variables";

#ID_ABOUT {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

#ID_ABOUT:before {
  display: block;
  float: left;
  content: " ";
  background-image: url($--source-dir + '/extraterm_main_logo_tight.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: pxToRem(256px);
  height: pxToRem(184px);
  margin-right: pxToRem(15px);
}

A:focus {
  outline: none;
}
