*~
*.map
packages/**/*.js
!packages/**/webpack*.js
extensions/**/*.js
extraterm/src/**/*.js
dist/

.vscode/
.directory
yarn-error.log
__pycache__/
build_tmp/
docs/_site
node_modules/

!extraterm/src/main_process/pty/PtyConnectorFactory.js
!extraterm/src/dirname.js
!extraterm/resources/extra_icons/build.js

packages/extraterm-extension-api/main.d.ts
packages/extraterm-web-component-decorators/Decorators.d.ts
packages/extraterm-event-emitter/main.d.ts
packages/extraterm-readonly-toolbox/main.d.ts
packages/extraterm-uuid/main.d.ts
packages/extraterm-shell-string-parser/main.d.ts
packages/extraterm-shell-string-parser/test/MainTest.d.ts


packages/extraterm-readonly-toolbox/test/MainTest.d.ts
packages/extraterm-web-component-decorators/test/DecoratorsTest.d.ts
packages/extraterm-web-component-decorators/test/TestCode.d.ts
packages/extraterm-trim-between-tags/main.d.ts
