name: $(Date:yyyyMMdd)$(Rev:.r)_$(SourceBranchName)

variables:
  nodeVersion: '16.6.2'

trigger:
  branches:
    include:
    - master
    - release/*
    - qt
  tags:
    include:
    - v*

jobs:
  - job: commands_zip
    displayName: "Build commands.zip"
    pool:
      vmImage: 'Ubuntu-18.04'
    steps:
      - script: |
          sudo apt-get update
          sudo apt-get install pkg-config build-essential
          sudo apt-get install cmake make
          sudo apt-get install mesa-common-dev libglu1-mesa-dev
        displayName: "Install development packages"
      - script: rm -rf ~/.cache/nodegui-mini-qt-nodejs || true
      - script: yarn --version
        displayName: 'yarn --version'
      - script: yarn install
        displayName: 'yarn install'
      - script: node build_scripts/azure_release_version_check.mjs $(Build.SourceBranch)
        displayName: Check for tag and package.json version
      - script: yarn run package-commands-zip --use-version=$(git describe --tags)
        displayName: 'Run yarn package-commands-zip'
      - task: CopyFiles@2
        inputs:
          sourceFolder: '$(Build.SourcesDirectory)/build_tmp'
          contents: '*.zip'
          targetFolder: '$(Build.ArtifactStagingDirectory)'
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'commands build output'
          targetPath: '$(Build.ArtifactStagingDirectory)'

  - job: package_linux
    displayName: "Build Linux packages"
    pool:
      vmImage: 'Ubuntu-18.04'
    steps:
      - script: |
          sudo apt-get update
          sudo apt-get install pkg-config build-essential
          sudo apt-get install cmake make
          sudo apt-get install xserver-xorg-core mesa-common-dev libglu1-mesa-dev libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-xinerama0
        displayName: "Install development packages"
      - script: |
          wget -c https://github.com/$(wget -q https://github.com/AppImage/pkg2appimage/releases -O - | grep "pkg2appimage-.*-x86_64.AppImage" | head -n 1 | cut -d '"' -f 2)
          chmod +x ./pkg2appimage-*.AppImage
          PATH=$PATH:$(pwd)
      - script: echo $PATH
      - script: rm -rf ~/.cache/nodegui-mini-qt-nodejs || true
      - task: NodeTool@0
        inputs:
          versionSpec: $(nodeVersion)
      - script: yarn --version
        displayName: 'yarn --version'
      - script: yarn install
        displayName: "yarn install"
      - script: node build_scripts/azure_release_version_check.mjs $(Build.SourceBranch)
        displayName: Check for tag and package.json version
      - script: "yarn run download-launcher-executable"
        displayName: "Download the launcher executable"
      - script: "yarn run download-deploy-tool"
        displayName: "Download the deploy packaging tool"
      - script: yarn run lint-strict
        displayName: "yarn run lint-strict"
      - script: yarn run build
        displayName: "yarn run build"
      - script: yarn run test
        displayName: "yarn run test"
      - script: yarn run package-linux --version=$(git describe --tags)
        displayName: "yarn run package-linux"
      - script: cp $(Build.SourcesDirectory)/build_tmp/*.zip $(Build.ArtifactStagingDirectory)
      - script: cp $(Build.SourcesDirectory)/build_tmp/*.deb $(Build.ArtifactStagingDirectory)
      - script: cp $(Build.SourcesDirectory)/build_tmp/*.AppImage $(Build.ArtifactStagingDirectory)
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'Linux build output'
          targetPath: '$(Build.ArtifactStagingDirectory)'

  - job: package_windows
    displayName: "Build Windows packages"
    pool:
      vmImage: 'windows-latest'
    steps:
      - script: choco install nsis -y
        displayName: "install nsis"
      - script: choco install zip -y
        displayName: "install zip"
      - task: NodeTool@0
        inputs:
          versionSpec: $(nodeVersion)
      - script: yarn --version
        displayName: 'yarn --version'
      - script: yarn install
        displayName: "yarn install"
      - script: node build_scripts/azure_release_version_check.mjs $(Build.SourceBranch)
        displayName: Check for tag and package.json version
      - script: "yarn run download-launcher-executable"
        displayName: "Download the launcher executable"
      - script: "yarn run download-deploy-tool"
        displayName: "Download the deploy packaging tool"
      - script: yarn run lint-strict
        displayName: "yarn run lint-strict"
      - script: yarn run build
        displayName: "yarn run build"
      - script: yarn run test
        displayName: "yarn run test"
      - script: |
          PATH=C:\Program Files (x86)\NSIS\;%PATH%
          git describe --tags > APP_VERSION.txt
          set /p APP_VERSION= < APP_VERSION.txt
          del APP_VERSION.txt
          yarn run package-windows --version=%APP_VERSION%
        displayName: "yarn run package-windows"
      - task: CopyFiles@2
        inputs:
          sourceFolder: '$(Build.SourcesDirectory)/build_tmp'
          contents: '*.zip'
          targetFolder: '$(Build.ArtifactStagingDirectory)'
      - task: CopyFiles@2
        inputs:
          sourceFolder: '$(Build.SourcesDirectory)/build_tmp'
          contents: '*.exe'
          targetFolder: '$(Build.ArtifactStagingDirectory)'
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'Windows build output'
          targetPath: '$(Build.ArtifactStagingDirectory)'

  - job: package_macos
    displayName: "Build macOS packages"
    pool:
      vmImage: 'macOS-1015'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(nodeVersion)
      - script: yarn --version
        displayName: 'yarn --version'
      - script: yarn install
        displayName: "yarn install"
      - script: node build_scripts/azure_release_version_check.mjs $(Build.SourceBranch)
        displayName: Check for tag and package.json version
      - script: "yarn run download-launcher-executable"
        displayName: "Download the launcher executable"
      - script: "yarn run download-deploy-tool"
        displayName: "Download the deploy packaging tool"
      - script: yarn run lint-strict
        displayName: "yarn run lint-strict"
      - script: yarn run build
        displayName: "yarn run build"
      - script: yarn run test
        displayName: "yarn run test"
      - script: yarn run package-macos --version=$(git describe --tags)
        displayName: "yarn run package-macos"
      - script: |
          cp $(Build.SourcesDirectory)/build_tmp/*.zip $(Build.ArtifactStagingDirectory)
          cp $(Build.SourcesDirectory)/build_tmp/*.dmg $(Build.ArtifactStagingDirectory)
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'macOS build output'
          targetPath: '$(Build.ArtifactStagingDirectory)'
