/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

/**
 * Audio viewer CSS
 */
@import "general-gui/variables";

#top_container {
  display: flex;
  width: 100%;
  align-items: baseline;

  background-color: $background-color;
  
  padding: $panel-body-padding;

  & > div {
    margin-right: 2em;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

#title {
  flex-grow: 1;
}

#progress_bar {
  flex-grow: 1;
  align-self: center;
  progress {
    width: 100%;
  }
}


#file_size {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8em;
  width: 8em;
}
