/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */
@import "bootstrap/variables";


:host(:focus) {
  outline: 0px solid transparent;
}

#ID_EMPTY_PANE_MENU {
  font-family: $font-family-base;
  font-size: $input-font-size;
  line-height: $line-height-base;
  color: $text-color;

  background-color: $dropdown-bg;

  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_CONTAINER {
  --empty-pane-menu-container-width: 400px;

  display: block;

  width: 100%;
  max-width: var(--empty-pane-menu-container-width);

  margin-left: auto;
  margin-right: auto;
}

#ID_TITLE {
  width: 100%;

  margin-bottom: 5px;
}
