/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */
@import "bootstrap/variables";
@import "extraicons-fontface";

/* gui-tabwidget */

#ID_TOP {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#ID_TABBAR_CONTAINER {
  position: relative;
}

#ID_TABBAR {
  flex: 0 auto;
  
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#ID_TABBAR > li {
  flex-shrink: 1;
  white-space: nowrap;
}

#ID_TABBAR > li.remainder {
  flex-shrink: 0;
  flex-grow: 1;
}

#ID_CONTENTS {
  flex: 1 1 auto;
  position: relative;
  background-color: $tab-background-color-active;
}

#ID_CONTENTSTACK {
  /* This and the pos:relative above are needed to get this at the correct height. */
  /* See: https://stackoverflow.com/questions/15381172/css-flexbox-child-height-100 */
  position: absolute;
  height: 100%;
  width: 100%;
  
  display: block;
}

DIV.wrapper {
  height: 100%;
  width: 100%;  
}

DIV.catch_all {
  flex-grow: 1;
}

DIV.show_frame > #ID_CONTENTSTACK {
  border: 1px solid #9daca9;
}

DIV.show_frame > #ID_TABBAR {
  position: relative;
  top: 1px;
}

#ID_DROP_INDICATOR {
  position: relative;
  width: 0px;
  height: 100%;
  z-index: 2;

  color: $background-color-selected;

  pointer-events: none;

  &:before, &:after {
    position: absolute;
    width: 1em;
    left: -0.5em;

    pointer-events: none;

    font-family: extraicons;
    text-align: center;
  }

  &:before {
    top: 0px;
    content: "\ea06";
  }

  &:after {
    bottom: 0px;
    content: "\ea07";
  }
}
