/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
@import "bootstrap/variables";
@import "extraicons-fontface";

/* gui-tabwidget */

#ID_TOP {
  display: flex;
  flex-direction: column;
  height: 100%;

  position: relative; // Needed for the drop indicator.
}

#ID_TABBAR {
  flex: 0 auto;
  
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#ID_TABBAR > li {
  flex-shrink: 1;
  white-space: nowrap;
}

#ID_TABBAR > li.remainder {
  flex-shrink: 0;
  flex-grow: 1;
}

#ID_CONTENTS {
  flex: 1 1 auto;
  position: relative;
  background-color: $tab-background-color-active;
}

#ID_CONTENTSTACK {
  /* This and the pos:relative above are needed to get this at the correct height. */
  /* See: https://stackoverflow.com/questions/15381172/css-flexbox-child-height-100 */
  position: absolute;
  height: 100%;
  width: 100%;
  
  display: block;
}

DIV.wrapper {
  height: 100%;
  width: 100%;  
}

DIV.catch_all {
  flex-grow: 1;
}

DIV.show_frame > #ID_CONTENTSTACK {
  border: 1px solid #9daca9;
}

DIV.show_frame > #ID_TABBAR {
  position: relative;
  top: 1px;
}

#ID_DRAG_INDICATOR_CONTAINER {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 100%;
  z-index: 10;
  
  &.CLASS_INDICATOR_HIDE {
    display: none;
  }

  &.CLASS_INDICATOR_SHOW {
    pointer-events: none;
  }
  
  &.CLASS_INDICATOR_SHOW * {
    pointer-events: none;
  }
}

#ID_DRAG_INDICATOR {
  position: absolute;

  width: 0px;
  height: 100%;

  color: $background-color-selected;

  &:before, &:after {
    position: absolute;
    font-family: extraicons;
    width: 1em;
    left: -0.5em;
    text-align: center;
  }

  &:before {
    top: 0px;
    content: "\ea06";
  }

  &:after {
    bottom: 0px;
    content: "\ea07";
  }
}