/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top UI */
@import "bootstrap/variables";
@import "main-ui-titlebar";
@import "bootstrap/px-to-rem";

:host {
  display: block;
  position: relative;
}

:host(:focus) {
  outline: 0px solid transparent;
}

#ID_TOP_LAYOUT {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

#ID_REST_DIV_LEFT {
  & > button {
    margin-top: pxToRem(7px);
  }
}

#ID_TITLE_BAR {
  background: #222222;
}

#ID_MAIN_CONTENTS {
  flex-grow: 1;
  position: relative;

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.CLASS_NEW_BUTTON_CONTAINER {
  display: flex;
  flex-grow: 1;

  & > div.CLASS_SPACE {
    flex-grow: 1;
  }

  & > button {
    flex-grow: 0;
  }
}

#ID_MAIN_CONTENTS.CLASS_MAIN_NOT_DRAGGING div.CLASS_SPACE {
  @if $extraterm-titlebar-visible == false {
    -webkit-app-region: drag;
  }
}

/* Contents of the tabs at the top of the window. */
DIV.tab_content {
  height: 100%;
  width: 100%;
  position: relative;
}

DIV.tab_content > * {
  position: absolute;
  width: 100%;
  
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

ET-TAB:focus {
  outline: none;
}

DIV.tab_header_container {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

DIV.tab_header_icon {
  flex: 0 0 auto;
  font-size: 125%;
}

DIV.tab_header_middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: pxToRem(8px);
  margin-right: pxToRem(8px);
}

DIV.tab_header_tag {
  flex: 0 0 auto;
}

DIV.tab_header_close {
  flex: 0 0 auto;
  align-self: center;
}

DIV.tab_header_close > BUTTON {
  display: block;
  width: pxToRem(16px);
  height: pxToRem(16px);
  border: 0;
  padding: 0;
  
  border-radius: pxToRem(8px);
  background-color: transparent;
  text-align: center;
  
  & > i {
    position: relative;
    top: pxToRem(-5px);
  }
}

DIV.tab_header_close:hover > BUTTON {
  background-color: $btn-danger-bg;
  color: $tab-background-color-active;
}

DIV.tab_header_close > BUTTON:focus {
  outline: 0px solid transparent;
}

BUTTON.CLASS_NEW_TAB_BUTTON.CLASS_NEW_TAB_BUTTON.CLASS_NEW_TAB_BUTTON {
  outline: 0px solid transparent;
}
