/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top UI */
@import "bootstrap/variables";
@import "main-ui-titlebar";

:host {
  display: block;
  position: relative;
}

:host(:focus) {
  outline: 0px solid transparent;
}

#ID_TOP_LAYOUT {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
}

#ID_REST_DIV_LEFT {
  & > button {
    margin-top: 7px;
  }
}

#ID_TITLE_BAR {
  background: #222222;
}

#ID_MAIN_CONTENTS {
  flex-grow: 1;
  position: relative;

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.CLASS_NEW_BUTTON_CONTAINER {
  display: flex;
  flex-grow: 1;

  & > div.CLASS_SPACE {
    flex-grow: 1;
    @if $extraterm-titlebar-visible == false {
      -webkit-app-region: drag;
    }
  }

  & > button {
    flex-grow: 0;
  }
}

/* Contents of the tabs at the top of the window. */
DIV.tab_content {
  height: 100%;
  width: 100%;

}
DIV.tab_content > * {
  position: absolute;
  width: 100%;
  
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

DIV.tab_header_container {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

DIV.tab_header_icon {
  flex: 0 0 auto;
  font-size: 125%;
}

DIV.tab_header_middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

DIV.tab_header_close {
  flex: 0 0 auto;
  align-self: center;
}

DIV.tab_header_close > BUTTON {
  display: block;
  width: 16px;
  height: 16px;
  border: 0px;
  padding: 0px;
  
  border-radius: 8px;
  background-color: transparent;
  text-align: center;
  
  & > i {
    position: relative;
    top: -5px;
  }
}

DIV.tab_header_close:hover > BUTTON {
  background-color: $btn-danger-bg;
  color: $tab-background-color-active;
}

DIV.tab_header_close > BUTTON:focus {
  outline: 0px solid transparent;
}

#ID_NEW_TAB_BUTTON_PRIMARY:focus {
  outline: 0px solid transparent;
}
