/**
 * Copyright 2016-2018 Simon Edwards <simon@simonzone.com>
 */

$terminal-selection-unfocused-background-color: #404040;

@mixin text-general {
 background: $terminal-background-color;
 color: $terminal-foreground-color;
}

@mixin text-gutters {
 background: #000000;
 border-right: 1px solid #b2b2b2;
}

@mixin text-guttermarker {
 color: #599eff;
}

@mixin text-guttermarker-subtle {
 color: #b2b2b2;
}

@mixin text-linenumber {
 color: #b2b2b2;
}
