/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

@mixin text-general {
  background: #000000;
  color: #b2b2b2;
}

@mixin text-cursor {
  border-left: 1px solid #ffb300;
}

@mixin text-selected {
  background-color: #005CCC;
}

@mixin text-matchingbracket {
  outline: 1px solid #b2b2b2;
  color: #ffffff;
}

@mixin text-activeline {
  background-color: #202020;
}

@mixin text-gutters {
  background: #000000;
  border-right: 1px solid #b2b2b2;
}

@mixin text-guttermarker {
  color: #599eff;
}

@mixin text-guttermarker-subtle {
  color: #b2b2b2;
}

@mixin text-linenumber {
  color: #b2b2b2;
}

@mixin text-syntax-header {
  color: #b2b2b2;
}

@mixin text-syntax-quote {
  color: #b2b2b2;
}

@mixin text-syntax-keyword {
  color: #7373ff;
  font-weight: bold;
}

@mixin text-syntax-atom {
  color: #b2b2b2;
}

@mixin text-syntax-number {
  color: #18b218;
}

@mixin text-syntax-def {
  color: #b2b2b2;
  font-weight: bold;
}

@mixin text-syntax-variable {
 color: #b2b2b2;
}

@mixin text-syntax-variable-2 {
 color: #18b2b2;
}

@mixin text-syntax-variable-3 {
 color: #b218b2;
 font-weight: bold;
}

@mixin text-syntax-property {
 color: #7373ff;
}

@mixin text-syntax-operator {
 color: #b2b2b2;
}

@mixin text-syntax-comment {
 color: #ffffff;
 font-weight: bold;
}

@mixin text-syntax-string {
 color: #18b218;
}

@mixin text-syntax-string-2 {
 color: #18b218;
}

@mixin text-syntax-meta {
 color: #54ffff;
}

@mixin text-syntax-qualifier {
 color: #b2b2b2;
}

@mixin text-syntax-builtin {
 color: #54ffff;
}

@mixin text-syntax-bracket {
 color: #b2b2b2;
}

@mixin text-syntax-tag {
 color: #7373ff;
 font-weight: bold;
}

@mixin text-syntax-attribute {
 color: #54ffff;
}

@mixin text-syntax-hr {
 color: #b2b2b2;
}

@mixin text-syntax-link {
 color: #3535ff;
}

@mixin text-syntax-error {
 color: #ff5454;
}
