/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* text viewer styles */

@import "text-computed-colors";

:host {
  display: block;
  width: 100%;
  white-space: normal;
  contain: strict;
}

:host(:focus) {
  outline: 0px solid transparent;
}

#ID_CONTAINER {
  width: 100%;
  overflow: hidden;
  contain: strict;
}

#ID_CONTAINER > DIV.CodeMirror {
  font-family: var(--terminal-font);
  font-size: var(--terminal-font-size);
  line-height: normal;
  min-height: 1em;  /* Prevent CodeMirror from freaking out and hanging the CPU if the height becomes 0. */
}

#ID_CONTAINER:focus {
  outline: 0px;
}

#ID_CONTAINER.hide_cursor .CodeMirror-cursors {
    display: none !important;
}

#ID_CONTAINER.hide_cursor .CodeMirror-lines {
  cursor: default;
}

.CodeMirror-lines {
  padding: 0 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 0; /* Horizontal padding of content */
}

.CodeMirror pre.CodeMirror-line {
  height: var(--terminal-font-unit-height);
}

.cm-s-text {
  line-height: 1.3em;
}

.cm-s-text.CodeMirror { @include text-general; }

.cm-s-text div.CodeMirror-selected { @include text-selected; }

.cm-s-text .CodeMirror-line::selection,
.cm-s-text .CodeMirror-line > span::selection,
.cm-s-text .CodeMirror-line > span > span::selection {
  @include text-selected;
}

.cm-s-text .CodeMirror-cursor { @include text-cursor; }

.cm-s-text pre { padding: 0 8px; }/*editable code holder*/

.cm-s-text.CodeMirror span.CodeMirror-matchingbracket { @include text-matchingbracket; }

.cm-s-text .CodeMirror-gutters { @include text-gutters; }
.cm-s-text .CodeMirror-guttermarker { @include text-guttermarker; }
.cm-s-text .CodeMirror-guttermarker-subtle { @include text-guttermarker-subtle; }
.cm-s-text .CodeMirror-linenumber { @include text-linenumber; }

.cm-s-text span.cm-header { @include text-syntax-header; }
.cm-s-text span.cm-quote { @include text-syntax-quote; }
.cm-s-text span.cm-keyword { @include text-syntax-keyword; }
.cm-s-text span.cm-atom { @include text-syntax-atom; }
.cm-s-text span.cm-number { @include text-syntax-number; }
.cm-s-text span.cm-def { @include text-syntax-def; }
.cm-s-text span.cm-variabl { @include text-syntax-variable; }
.cm-s-text span.cm-variable-2 { @include text-syntax-variable-2; }
.cm-s-text span.cm-variable-3 { @include text-syntax-variable-3; }
.cm-s-text span.cm-property { @include text-syntax-property; }
.cm-s-text span.cm-operator { @include text-syntax-operator; }
.cm-s-text span.cm-comment { @include text-syntax-comment; }
.cm-s-text span.cm-string { @include text-syntax-string; }
.cm-s-text span.cm-string-2 { @include text-syntax-string-2; }
.cm-s-text span.cm-meta { @include text-syntax-meta; }
.cm-s-text span.cm-qualifier { @include text-syntax-qualifier; }
.cm-s-text span.cm-builtin { @include text-syntax-builtin; }
.cm-s-text span.cm-bracket { @include text-syntax-bracket; }
.cm-s-text span.cm-tag { @include text-syntax-tag; }
.cm-s-text span.cm-attribute { @include text-syntax-attribute; }
.cm-s-text span.cm-hr { @include text-syntax-hr; }
.cm-s-text span.cm-link { @include text-syntax-link; }
.cm-s-text span.cm-error { @include text-syntax-error; }

.cm-s-text .CodeMirror-activeline-background { @include text-activeline; }
.cm-s-text .CodeMirror-matchingbracket { @include text-matchingbracket; }

.CodeMirror-overlayscroll-vertical {
  visibility: hidden;
}

.CodeMirror-scrollbar-filler {
  background-color: transparent;
}

.CodeMirror-overlayscroll-horizontal {
  height: 8px;

  & DIV {
    opacity: 0.5;
    background-color: var(--scrollbar-thumb-background-color);

    &:hover {
      opacity: 1;
      background-color: var(--scrollbar-thumb-hover-background-color);
    }
  }
}

.CodeMirror-overlayscroll-horizontal:hover DIV {
  opacity: 1;
}
