/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

@import "general-gui/variables";



#ID_COVER {
  &.CLASS_COVER_CLOSED {
    visibility: hidden;
  }

  &.CLASS_COVER_OPEN {
    position: absolute;
    visibility: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

#ID_CONTAINER {
  position: absolute;

  $width: pxToRem(500px);
  width: $width;

  left: clamp(0px, var(--cursor-left, 0px), calc(100% - #{$width}));

  &.CLASS_ABOVE_CURSOR {
    bottom: calc(100% - var(--cursor-top, 0px));
  }

  &.CLASS_BELOW_CURSOR {
    top: var(--cursor-bottom, 0px);
  }

  font-family: $font-family;
  font-size: $input-font-size;
  font-weight: normal;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $overlay-background-color;

  padding: $component-padding-vertical $component-padding-horizontal;
  border: 1px solid $overlay-border-color;
  border-radius: $border-radius;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  box-shadow: 0 0 pxToRem(10px) $base-border-color;
  background-clip: padding-box;

  z-index: 101;
}

#ID_CONTEXT_COVER {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &.CLASS_CONTEXT_COVER_OPEN {

  }

  &.CLASS_CONTEXT_COVER_CLOSED {
    display: none;
  }
}
