/**
 * Copyright 2019 Simon Edwards <simon@simonzone.com>
 */
@import 'general-gui/variables';

#ID_TOP {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_WEST_CONTAINER, #ID_EAST_CONTAINER, #ID_NORTH_CONTAINER, #ID_SOUTH_CONTAINER {
  flex: 0 0 auto;

  background: $tab-bar-background-color;

  & > * {
    margin: $panel-body-padding;
    display: block;
  }

  &.empty > * {
    margin: 0;
  }
}

#ID_NORTH_CONTAINER {
  border-bottom: 1px solid $tab-border-color;

  &.empty {
    border-bottom: 0px;
  }
}

#ID_SOUTH_CONTAINER {
  border-top: 1px solid $tab-border-color;

  &.empty {
    border-top: 0px;
  }
}

#ID_WEST_CONTAINER {
  border-right: 1px solid $tab-border-color;

  &.empty {
    border-right: 0px;
  }
}

#ID_EAST_CONTAINER {
  border-left: 1px solid $tab-border-color;

  &.empty {
    border-left: 0px;
  }
}

#ID_CENTER_COLUMN {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

#ID_CENTER_CONTAINER {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;

  background-color: var(--terminal-background-color);
}
