/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";


:host(:focus) {
  outline: none;
}

#ID_RESULTS_CONTAINER {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex-grow: 0;
  flex-shrink: 0;
}

#ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_RESULTS {
  overflow: auto;
  cursor: default;
  flex-grow: 1;
  flex-shrink: 1;
}

.CLASS_RESULT_ENTRY {
  display: flex;

  width: 100%;
  box-sizing: border-box;

  padding-left: $padding-xs-horizontal;
  padding-right: $padding-xs-horizontal;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
    outline: 1px solid $background-selected-color;
    outline-offset: -1px;
  }

  &.CLASS_RESULT_SELECTED {
    outline: none;
    text-shadow: none;
    color: $text-selected-color;
    background-color: $background-selected-color;
  }
}

et-popdowndialog {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
