/**
 * Copyright 2020 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";

:host {
}

:host(:focus) {
  outline: none;
}

#ID_RESULTS_CONTAINER {
  font-size: $font-size-small;

  & > .gui-packed-row {
    margin: 0;
  }

  & INPUT {
    font-size: $font-size-base;
    padding: 0;
  }
}


#ID_FILTER {
}

#ID_RESULTS {
}

.CLASS_RESULT_ENTRY {
  font-size: $font-size-small;
}
