/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* Tango */

$terminal-foreground-color: #ffffff;
$terminal-background-color: #000000;

$terminal-color-0: #000000;
$terminal-color-1: #cc0000;
$terminal-color-2: #4e9a06;
$terminal-color-3: #c4a000;
$terminal-color-4: #3465a4;
$terminal-color-5: #75507b;
$terminal-color-6: #06989a;
$terminal-color-7: #d3d7cf;
$terminal-color-8: #555753;
$terminal-color-9: #ef2929;
$terminal-color-10: #8ae234;
$terminal-color-11: #fce94f;
$terminal-color-12: #739fcf;
$terminal-color-13: #ad7fa8;
$terminal-color-14: #34e2e2;
$terminal-color-15: #eeeeec;
