/**
 * Copyright 2020 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";

:host {
}

:host(:focus) {
  outline: none;
}

#ID_RESULTS_CONTAINER {
  display: flex;
  flex-direction: column;

  &.CLASS_REVERSE {
    flex-direction: column-reverse;
  }
}

.form-group {
  flex-grow: 0;
  flex-shrink: 0;
}

#ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_RESULTS {
  overflow: auto;
  cursor: default;
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;

  max-height: var(--results-height, 100%);
}

#ID_RESULTS_CONTAINER.CLASS_REVERSE > #ID_RESULTS {
  flex-direction: column-reverse;
}

.CLASS_RESULT_ENTRY {
  display: flex;

  width: 100%;
  box-sizing: border-box;

  padding-left: $padding-xs-horizontal;
  padding-right: $padding-xs-horizontal;

  &:hover {
    cursor: pointer;
    outline: 1px solid $background-selected-color;
    outline-offset: -1px;
  }

  &.CLASS_RESULT_SELECTED {
    outline: none;
    color: $text-selected-color;
    background-color: $background-selected-color;
  }
}
