/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* gui-tabwidget */
@import "general-gui/variables";

$tab-background-color-active: $background-color;

#ID_TOP {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#ID_TABBAR {
  flex: 0 auto;
  
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#ID_TABBAR > li {
  flex-shrink: 1;
  white-space: nowrap;
}

#ID_TABBAR > li.remainder {
  flex-shrink: 0;
  flex-grow: 1;
}

#ID_CONTENTS {
  flex: 1 1 auto;
  position: relative;
  background-color: $tab-background-color-active;
}

#ID_CONTENTSTACK, #ID_SNAP_DROP_CONTAINER {
  /* This and the pos:relative above are needed to get this at the correct height. */
  /* See: https://stackoverflow.com/questions/15381172/css-flexbox-child-height-100 */
  position: absolute;
  height: 100%;
  width: 100%;
  
  display: block;
}

DIV.wrapper {
  height: 100%;
  width: 100%;  
}

DIV.catch_all {
  flex-grow: 1;
}

DIV.show_frame > #ID_CONTENTSTACK {
  border: 1px solid #9daca9;
}

DIV.show_frame > #ID_TABBAR {
  position: relative;
  top: 1px;
}

#ID_DROP_INDICATOR {
  position: relative;
  width: 0;
  height: 100%;
  z-index: 2;

  color: $background-selected-color;

  pointer-events: none;

  &:before, &:after {
    position: absolute;
    width: 1em;
    left: calc(-0.5em - pxToRem(7.5px));

    pointer-events: none;

    font-family: extraicons;
    text-align: center;
  }

  &:before {
    top: pxToRem(-3px);
    content: "\ea06";
  }

  &:after {
    bottom: pxToRem(2px);
    content: "\ea07";
  }
}
