/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/variables";

#top_container {
  width: 100%;
  background-color: $background-color;
  padding: $panel-body-padding;
}
