/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "bootstrap/variables";
@import "extraterm-scrollbars";

/*
:host {
  visibility: hidden;
}
*/

#ID_COVER {
  &.CLASS_COVER_CLOSED {
    visibility: hidden;
  }

  &.CLASS_COVER_OPEN {
    position: fixed;
    visibility: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

#ID_CONTAINER {
  padding: $padding-base-vertical $padding-base-horizontal;
}

#ID_CONTEXT_COVER {
  position: relative;
}

#ID_CONTEXT_COVER {
  &.CLASS_CONTEXT_COVER_OPEN {
  
  }
  
  &.CLASS_CONTEXT_COVER_CLOSED {
    display: none;
  }
}


#ID_CONTAINER {
  position: absolute;

  $width: 400px;
  width: $width;
  left: calc(50% - #{$width} / 2);
  
  font-family: $font-family-base;
  font-size: $input-font-size;
  font-weight: normal;
  line-height: $line-height-base;
  color: $dropdown-link-color;
  background-color: $dropdown-bg;

  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  box-shadow: 0px 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;

  z-index: 101;  
}

div > #ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_RESULTS {
  overflow: auto;
  cursor: default;
}

.CLASS_RESULT_ENTRY {
  display: flex;
  width: 100%;
  
  padding-left: $padding-xs-horizontal;
  padding-right: $padding-xs-horizontal;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  &.CLASS_RESULT_SELECTED {
    outline: none;
    text-shadow: none;
    color: $text-color-selected;
    background-color: $background-color-selected;
  }
}

.CLASS_RESULT_ICON_LEFT {
  flex: auto 0 0;
}

.CLASS_RESULT_ICON_RIGHT {
  flex: auto 0 0;
}

.CLASS_RESULT_LABEL {
  flex: auto 1 1;
}

.CLASS_RESULT_SHORTCUT {
  flex: auto 0 0;
}

