/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

@import "bootstrap/variables";

$scrollbar-size: 12px;
$scrollbar-radius: 6px;
$scrollbar-pad: 2px;

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  background-color: var(--scrollbar-background-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-background-color);
  border-radius: $scrollbar-radius;  
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: $scrollbar-radius;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-background-color);
}
