/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
@import "extraicons-fontface";

$drag-bar-height: 16px;
$resize-bar-height: 4px;

@if($extraterm-titlebar-visible == true or $extraterm-platform == "darwin") {
  #ID_TITLE_BAR {
    display: none;
  }

} @else {

  #ID_TITLE_BAR {
    flex-grow: 0;

    display: flex;
    width: 100%;
  }

  #ID_TITLE_BAR_SPACE {
    flex-grow: 1;
    position: relative;
  }

  #ID_TOP_RESIZE_BAR {
    position: absolute;
    top: 0px;
    bottom: $resize-bar-height;
    width: 100%;
  }

  #ID_DRAG_BAR {
    position: absolute;
    top: $resize-bar-height;
    bottom: 0px;
    width: 100%;

    -webkit-app-region: drag;
    height: $drag-bar-height;
    cursor: move;
  }

  #ID_MINIMIZE_BUTTON, #ID_MAXIMIZE_BUTTON, #ID_CLOSE_BUTTON {
    flex-grow: 0;
    flex-shrink: 0;

    background-color: transparent;
    border: 0px;

    &:hover {
      background-color: $input-group-addon-bg;
    }
  }

  #ID_MINIMIZE_BUTTON:before {
    font-family: extraicons;
    content: "\ea02";
  }

  #ID_MAXIMIZE_BUTTON:before {
    font-family: extraicons;
    content: "\ea01";
  }

  #ID_CLOSE_BUTTON:before {
    font-family: FontAwesome;
    font-size: 120%;
    content: "\f00d";  
  }

  #ID_DRAG_BAR {
    width: 100%;
    -webkit-app-region: drag;
    height: 16px;
    cursor: move;
  }
}

@if $extraterm-platform == "darwin" and $extraterm-titlebar-visible != true {

  // OSX style traffic light window controls.
  #ID_REST_DIV_LEFT {

    & > button {
      display: inline-block;

      width: 12px;
      height: 12px;
      padding: 0px;
      // margin-top: 12px;
      margin-left: 4px;
      margin-right: 4px;

      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.06);
      outline: none;

      color: transparent;
      position: relative;


      &:before {
        position: relative;
        left: 0px;
        top: -2px;
        font-size: 9.5px;
        font-family: extraicons;
      }
    }

    &:hover > button {
      color: rgba(0,0,0,0.5);
    }
  }

  #ID_OSX_CLOSE_BUTTON {
    background-color: #fc5753;
    margin-left: 3px !important;
    &:before {
      content: "\ea03";
    }
  }

  #ID_OSX_MINIMIZE_BUTTON {
    background-color: #fdbc40;

    &:before {
      content: "\ea05";
    }
  }

  #ID_OSX_MAXIMIZE_BUTTON {
    background-color: #33c748;

    &:before {
      content: "\ea04";
    }
  }
} @else {
  #ID_REST_DIV_LEFT {
    display: none;
  }
}
