/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

$terminal-cursor-foreground-color: #000000;
$terminal-cursor-background-color: #ffb300;

$terminal-selection-background-color: #005CCC;
$terminal-selection-unfocused-background-color: #404040;

/* Default terminal colors */
$terminal-foreground-color: #b2b2b2;
$terminal-background-color: #000000;

/* Linux colours */
$terminal-color-0: #000000;
$terminal-color-1: #b21818;
$terminal-color-2: #18b218;
$terminal-color-3: #b26818;
$terminal-color-4: #3535ff;
$terminal-color-5: #b218b2;
$terminal-color-6: #18b2b2;
$terminal-color-7: #b2b2b2;

/* Full bright versions */
$terminal-color-8: #686868;
$terminal-color-9: #ff5454;
$terminal-color-10: #54ff54;
$terminal-color-11: #ffff54;
$terminal-color-12: #7373ff;
$terminal-color-13: #ff54ff;
$terminal-color-14: #54ffff;
$terminal-color-15: #ffffff;

/* 16-255 standard colours */
$terminal-color-16: #000000;
$terminal-color-17: #00005f;
$terminal-color-18: #000087;
$terminal-color-19: #0000af;
$terminal-color-20: #0000d7;
$terminal-color-21: #0000ff;
$terminal-color-22: #005f00;
$terminal-color-23: #005f5f;
$terminal-color-24: #005f87;
$terminal-color-25: #005faf;
$terminal-color-26: #005fd7;
$terminal-color-27: #005fff;
$terminal-color-28: #008700;
$terminal-color-29: #00875f;
$terminal-color-30: #008787;
$terminal-color-31: #0087af;
$terminal-color-32: #0087d7;
$terminal-color-33: #0087ff;
$terminal-color-34: #00af00;
$terminal-color-35: #00af5f;
$terminal-color-36: #00af87;
$terminal-color-37: #00afaf;
$terminal-color-38: #00afd7;
$terminal-color-39: #00afff;
$terminal-color-40: #00d700;
$terminal-color-41: #00d75f;
$terminal-color-42: #00d787;
$terminal-color-43: #00d7af;
$terminal-color-44: #00d7d7;
$terminal-color-45: #00d7ff;
$terminal-color-46: #00ff00;
$terminal-color-47: #00ff5f;
$terminal-color-48: #00ff87;
$terminal-color-49: #00ffaf;
$terminal-color-50: #00ffd7;
$terminal-color-51: #00ffff;
$terminal-color-52: #5f0000;
$terminal-color-53: #5f005f;
$terminal-color-54: #5f0087;
$terminal-color-55: #5f00af;
$terminal-color-56: #5f00d7;
$terminal-color-57: #5f00ff;
$terminal-color-58: #5f5f00;
$terminal-color-59: #5f5f5f;
$terminal-color-60: #5f5f87;
$terminal-color-61: #5f5faf;
$terminal-color-62: #5f5fd7;
$terminal-color-63: #5f5fff;
$terminal-color-64: #5f8700;
$terminal-color-65: #5f875f;
$terminal-color-66: #5f8787;
$terminal-color-67: #5f87af;
$terminal-color-68: #5f87d7;
$terminal-color-69: #5f87ff;
$terminal-color-70: #5faf00;
$terminal-color-71: #5faf5f;
$terminal-color-72: #5faf87;
$terminal-color-73: #5fafaf;
$terminal-color-74: #5fafd7;
$terminal-color-75: #5fafff;
$terminal-color-76: #5fd700;
$terminal-color-77: #5fd75f;
$terminal-color-78: #5fd787;
$terminal-color-79: #5fd7af;
$terminal-color-80: #5fd7d7;
$terminal-color-81: #5fd7ff;
$terminal-color-82: #5fff00;
$terminal-color-83: #5fff5f;
$terminal-color-84: #5fff87;
$terminal-color-85: #5fffaf;
$terminal-color-86: #5fffd7;
$terminal-color-87: #5fffff;
$terminal-color-88: #870000;
$terminal-color-89: #87005f;
$terminal-color-90: #870087;
$terminal-color-91: #8700af;
$terminal-color-92: #8700d7;
$terminal-color-93: #8700ff;
$terminal-color-94: #875f00;
$terminal-color-95: #875f5f;
$terminal-color-96: #875f87;
$terminal-color-97: #875faf;
$terminal-color-98: #875fd7;
$terminal-color-99: #875fff;
$terminal-color-100: #878700;
$terminal-color-101: #87875f;
$terminal-color-102: #878787;
$terminal-color-103: #8787af;
$terminal-color-104: #8787d7;
$terminal-color-105: #8787ff;
$terminal-color-106: #87af00;
$terminal-color-107: #87af5f;
$terminal-color-108: #87af87;
$terminal-color-109: #87afaf;
$terminal-color-110: #87afd7;
$terminal-color-111: #87afff;
$terminal-color-112: #87d700;
$terminal-color-113: #87d75f;
$terminal-color-114: #87d787;
$terminal-color-115: #87d7af;
$terminal-color-116: #87d7d7;
$terminal-color-117: #87d7ff;
$terminal-color-118: #87ff00;
$terminal-color-119: #87ff5f;
$terminal-color-120: #87ff87;
$terminal-color-121: #87ffaf;
$terminal-color-122: #87ffd7;
$terminal-color-123: #87ffff;
$terminal-color-124: #af0000;
$terminal-color-125: #af005f;
$terminal-color-126: #af0087;
$terminal-color-127: #af00af;
$terminal-color-128: #af00d7;
$terminal-color-129: #af00ff;
$terminal-color-130: #af5f00;
$terminal-color-131: #af5f5f;
$terminal-color-132: #af5f87;
$terminal-color-133: #af5faf;
$terminal-color-134: #af5fd7;
$terminal-color-135: #af5fff;
$terminal-color-136: #af8700;
$terminal-color-137: #af875f;
$terminal-color-138: #af8787;
$terminal-color-139: #af87af;
$terminal-color-140: #af87d7;
$terminal-color-141: #af87ff;
$terminal-color-142: #afaf00;
$terminal-color-143: #afaf5f;
$terminal-color-144: #afaf87;
$terminal-color-145: #afafaf;
$terminal-color-146: #afafd7;
$terminal-color-147: #afafff;
$terminal-color-148: #afd700;
$terminal-color-149: #afd75f;
$terminal-color-150: #afd787;
$terminal-color-151: #afd7af;
$terminal-color-152: #afd7d7;
$terminal-color-153: #afd7ff;
$terminal-color-154: #afff00;
$terminal-color-155: #afff5f;
$terminal-color-156: #afff87;
$terminal-color-157: #afffaf;
$terminal-color-158: #afffd7;
$terminal-color-159: #afffff;
$terminal-color-160: #d70000;
$terminal-color-161: #d7005f;
$terminal-color-162: #d70087;
$terminal-color-163: #d700af;
$terminal-color-164: #d700d7;
$terminal-color-165: #d700ff;
$terminal-color-166: #d75f00;
$terminal-color-167: #d75f5f;
$terminal-color-168: #d75f87;
$terminal-color-169: #d75faf;
$terminal-color-170: #d75fd7;
$terminal-color-171: #d75fff;
$terminal-color-172: #d78700;
$terminal-color-173: #d7875f;
$terminal-color-174: #d78787;
$terminal-color-175: #d787af;
$terminal-color-176: #d787d7;
$terminal-color-177: #d787ff;
$terminal-color-178: #d7af00;
$terminal-color-179: #d7af5f;
$terminal-color-180: #d7af87;
$terminal-color-181: #d7afaf;
$terminal-color-182: #d7afd7;
$terminal-color-183: #d7afff;
$terminal-color-184: #d7d700;
$terminal-color-185: #d7d75f;
$terminal-color-186: #d7d787;
$terminal-color-187: #d7d7af;
$terminal-color-188: #d7d7d7;
$terminal-color-189: #d7d7ff;
$terminal-color-190: #d7ff00;
$terminal-color-191: #d7ff5f;
$terminal-color-192: #d7ff87;
$terminal-color-193: #d7ffaf;
$terminal-color-194: #d7ffd7;
$terminal-color-195: #d7ffff;
$terminal-color-196: #ff0000;
$terminal-color-197: #ff005f;
$terminal-color-198: #ff0087;
$terminal-color-199: #ff00af;
$terminal-color-200: #ff00d7;
$terminal-color-201: #ff00ff;
$terminal-color-202: #ff5f00;
$terminal-color-203: #ff5f5f;
$terminal-color-204: #ff5f87;
$terminal-color-205: #ff5faf;
$terminal-color-206: #ff5fd7;
$terminal-color-207: #ff5fff;
$terminal-color-208: #ff8700;
$terminal-color-209: #ff875f;
$terminal-color-210: #ff8787;
$terminal-color-211: #ff87af;
$terminal-color-212: #ff87d7;
$terminal-color-213: #ff87ff;
$terminal-color-214: #ffaf00;
$terminal-color-215: #ffaf5f;
$terminal-color-216: #ffaf87;
$terminal-color-217: #ffafaf;
$terminal-color-218: #ffafd7;
$terminal-color-219: #ffafff;
$terminal-color-220: #ffd700;
$terminal-color-221: #ffd75f;
$terminal-color-222: #ffd787;
$terminal-color-223: #ffd7af;
$terminal-color-224: #ffd7d7;
$terminal-color-225: #ffd7ff;
$terminal-color-226: #ffff00;
$terminal-color-227: #ffff5f;
$terminal-color-228: #ffff87;
$terminal-color-229: #ffffaf;
$terminal-color-230: #ffffd7;
$terminal-color-231: #ffffff;
$terminal-color-232: #080808;
$terminal-color-233: #121212;
$terminal-color-234: #1c1c1c;
$terminal-color-235: #262626;
$terminal-color-236: #303030;
$terminal-color-237: #3a3a3a;
$terminal-color-238: #444444;
$terminal-color-239: #4e4e4e;
$terminal-color-240: #585858;
$terminal-color-241: #626262;
$terminal-color-242: #6c6c6c;
$terminal-color-243: #767676;
$terminal-color-244: #808080;
$terminal-color-245: #8a8a8a;
$terminal-color-246: #949494;
$terminal-color-247: #9e9e9e;
$terminal-color-248: #a8a8a8;
$terminal-color-249: #b2b2b2;
$terminal-color-250: #bcbcbc;
$terminal-color-251: #c6c6c6;
$terminal-color-252: #d0d0d0;
$terminal-color-253: #dadada;
$terminal-color-254: #e4e4e4;
$terminal-color-255: #eeeeee;
