/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* about-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_ABOUT {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

#ID_ABOUT:before {
  display: block;
  float: left;
  content: " ";
  background-image: url($--source-dir-default + '/extraterm_main_logo_tight.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: pxToRem(256px);
  height: pxToRem(184px);
  margin-right: pxToRem(15px);
}

A:focus {
  outline: none;
}
