/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* about-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";

#ID_ABOUT {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}
