/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */

/* gui-splitter styles */
@import "bootstrap/variables";

$divider-width: 4px;

#ID_TOP {
  position: relative;
  overflow: hidden;
  contain: strict;
  
  height: 100%;
}

#ID_CONTAINER {
  width: 100%;
  height: 100%;
}

.CLASS_DIVIDER {
  position: absolute;
  background-color: $body-bg;

  #ID_TOP.CLASS_VERTICAL & {
    cursor: col-resize;
    top: 0px;
    width: $divider-width;
    height: 100%;
  }

  #ID_TOP.CLASS_HORIZONTAL & {
    cursor: row-resize;
    left: 0px;
    height: $divider-width;
    width: 100%;
  }
}

.CLASS_PANE {
  position: absolute;
  overflow: hidden;

  #ID_TOP.CLASS_HORIZONTAL & {
    left: 0px;
    width: 100%;
  }

  #ID_TOP.CLASS_VERTICAL & {
    height: 100%;
    top: 0px;
  }
}

#ID_INDICATOR {
  position: absolute;
  background-color: $text-color;

  #ID_TOP.CLASS_HORIZONTAL & {
    left: 0px;
    width: 100%;
  }

  #ID_TOP.CLASS_VERTICAL & {
    top: 0px;
    height: 100%;
  }
}

#ID_COVER {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}

#ID_TOP.CLASS_NORMAL {
  & > #ID_COVER {
    display: none;
  }

  & > #ID_INDICATOR {
    display: none;
  }
}

