/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "bootstrap/variables";
@import "extraterm-scrollbars";

/*
:host {
  visibility: hidden;
}
*/

:host:focus {
  outline: none;
}
