/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* gui-scrollbar styles */
@import "extraterm-scrollbars";

:host {
    display: block;
    color: transparent;
}

#ID_CONTAINER {
  width: $scrollbar-size + 2 * $scrollbar-pad;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#ID_AREA {
  width: 1px;
  height: 1px;
}
