/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */

@import "extraterm-scrollbars";

#ID_TOP {
  position: relative;
  width: 100%;
  height: 100%;
}

#ID_CONTENTS {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

$indicator_margin: 16px;
$inner_shadow: 32px;

#ID_DRAG_COVER {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: none;

  &:before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;

    background-color: rgba(255,255,255, 0.25);
    box-shadow: 0px 0px #{$indicator_margin} 0px black, inset 0px 0px #{$inner_shadow} 0px white;
    border-radius: 4px;
  }

  &.CLASS_DROP_TARGET_MIDDLE:before {
    left: #{$indicator_margin};
    right: #{$indicator_margin + $scrollbar-size + 2 * $scrollbar-pad};
    top: #{$indicator_margin};
    bottom: #{$indicator_margin};
  }

  &.CLASS_DROP_TARGET_NORTH:before, &.CLASS_DROP_TARGET_SOUTH:before {
    left: #{$indicator_margin};
    right: #{$indicator_margin + $scrollbar-size + 2 * $scrollbar-pad};
  }

  &.CLASS_DROP_TARGET_NORTH:before {
    top: #{$indicator_margin};
    bottom: 50%;
  }

  &.CLASS_DROP_TARGET_SOUTH:before {
    top: 50%;
    bottom: #{$indicator_margin};
  }

  &.CLASS_DROP_TARGET_EAST:before, &.CLASS_DROP_TARGET_WEST:before {
    top: #{$indicator_margin};
    bottom: #{$indicator_margin};
  }

  &.CLASS_DROP_TARGET_EAST:before {
    left: 50%;
    right: #{$indicator_margin + $scrollbar-size + 2 * $scrollbar-pad};
  }

  &.CLASS_DROP_TARGET_WEST:before {
    left: #{$indicator_margin};
    right: 50%;
  }
}

#ID_TOP.CLASS_DRAGGING > #ID_DRAG_COVER {
  display: block;
  z-index: 1;
}
