/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* context menu */
@import "bootstrap/variables";

#ID_CONTAINER {
    position: fixed;
    z-index: $zindex-dropdown;
    min-width: 160px;
    padding: 5px 0;    
    font-size: $font-size-base;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-border;
    border-radius:  $border-radius-base;
    box-shadow: 0px 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

#ID_CONTAINER:focus {
    outline: none;
}

.CLASS_CONTAINER_CLOSED {
    display: none;
}


.CLASS_COVER_CLOSED {
    visibility: hidden;
}

.CLASS_COVER_OPEN {
    visibility: visible;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
/*    background-color: rgba(255, 0, 0, 0.5); */
}
