/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* key-bindings-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";

#ID_KEY_BINDINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

.CLASS_KEYCAP {
  display: inline-block;
  border: 1px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  border-radius: 4px;
  padding: 0px 2px;
  background-color: #ffffff;
}

.CLASS_KEYCAP > SPAN {
  font-size: 80%;
  background-color: #f7f7f7;
  padding: 0px 5px;
}
