/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* key-bindings-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";
@import "extraterm-keycaps";

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_KEY_BINDINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
  
  & > * {
    max-width: calc(100% - 1rem);
  }
}

.CLASS_KEYCAP {
  @include keycap;
}
