/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* key-bindings-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";
@import "extraterm-keycaps";

#ID_KEY_BINDINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

.CLASS_KEYCAP {
  @include keycap;
}
