/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top UI */
@import "bootstrap/variables";

:host {
  display: block;
  position: relative;
}

#ID_TOP_LAYOUT {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
}


$drag-bar-height: 16px;
$resize-bar-height: 4px;

#ID_TITLE_BAR {
  flex-grow: 0;

  display: flex;
  width: 100%;
}

#ID_TITLE_BAR_SPACE {
  flex-grow: 1;
  position: relative;
}

#ID_TOP_RESIZE_BAR {
  position: absolute;
  top: 0px;
  bottom: if($extraterm-titlebar-visible == true, 0px, $resize-bar-height);
  width: 100%;
}

#ID_DRAG_BAR {
  position: absolute;
  top: if($extraterm-titlebar-visible == true, 0px, $resize-bar-height);
  bottom: 0px;
  width: 100%;

  @if $extraterm-titlebar-visible == true {
    height: 0px;
  } @else {
    -webkit-app-region: drag;
    height: $drag-bar-height;
    cursor: move;
  }
}

#ID_MINIMIZE_BUTTON, #ID_MAXIMIZE_BUTTON, #ID_CLOSE_BUTTON {
  flex-grow: 0;
  flex-shrink: 0;

  background-color: transparent;
  border: 0px;
}

#ID_MINIMIZE_BUTTON:before {
  font-family: extraicons;
  content: "\ea02";
}

#ID_MAXIMIZE_BUTTON:before {
  font-family: extraicons;
  content: "\ea01";
}

#ID_CLOSE_BUTTON:before {
  font-family: FontAwesome;
  font-size: 120%;
  content: "\f00d";  
}

#ID_DRAG_BAR {
  width: 100%;
  @if $extraterm-titlebar-visible == true {
    height: 0px;
  } @else {
    -webkit-app-region: drag;
    height: 16px;
    cursor: move;
  }
}


#ID_MAIN_CONTENTS {
  flex-grow: 1;  
  display: flex;
}



#ID_PANE_LEFT {
  flex: auto 1 1;  
}

#ID_PANE_LEFT, #ID_PANE_RIGHT {
  position: relative;
}

#ID_TAB_CONTAINER_LEFT, #ID_TAB_CONTAINER_RIGHT {
  position: absolute;
  width: 100%;
  height: 100%;
}

#ID_PANE_RIGHT {
  display: none;
}
#ID_MAIN_CONTENTS > #ID_GAP {
  visibility: collapse;
  flex: 0px 0 0;
}

#ID_MAIN_CONTENTS.split > #ID_GAP {
  visibility: visible;
  flex: 2px 0 0;
}

#ID_MAIN_CONTENTS.split > #ID_PANE_RIGHT {
  flex: auto 1 1;
  display: block;
}

#ID_REST_DIV_PRIMARY {
  display: flex;
}

#ID_REST_DIV_PRIMARY > DIV.space {
  flex-grow: 1;
}

/* Contents of the tabs at the top of the window. */
DIV.tab_content {
  height: 100%;
  width: 100%;

}
DIV.tab_content > * {
  position: absolute;
  width: 100%;
  
  top: 6px;
  bottom: 0;
  left: 0;
  right: 0;
}

DIV.tab_header_container {
  display: flex;
  width: 100%;
}

DIV.tab_header_icon {
  flex: 0 0 auto;
}

DIV.tab_header_middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

DIV.tab_header_close {
  flex: 0 0 auto;
  align-self: center;
}

DIV.tab_header_close > BUTTON {
  vertical-align: text-bottom;
  border: 0px;
  display: inline-block;
  background-color: transparent;
  border-radius: 2px;
}

DIV.tab_header_close:hover > BUTTON {
  background-color: $btn-danger-bg;
  color: $btn-danger-color;
}
