/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* settings-tab styles */

@import "_extraterm_bootstrap";

#ID_SETTINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

#ID_COMMAND_OUTPUT_HANDLING > table td.CLASS_FRAME {
  min-width: 10em;
}
