/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* settings-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";

:host(:focus) {
  outline: 0px solid transparent;
}

#ID_SETTINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
}

#ID_COMMAND_OUTPUT_HANDLING > table td.CLASS_FRAME {
  min-width: 10em;
}

div.input-group > select.form-control.form-control.form-control:first-child {
  border-radius: $input-border-radius;
}
