/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* terminal styles */

@import "terminal-computed-colors";

:host {
  display: block;
}

#ID_CONTAINER {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#ID_SCROLLBAR {
    flex: 0;
    min-width: 15px;
    height: 100%;
}

#ID_SCROLL_AREA {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $terminal-background-color;
}

#ID_SCROLL_AREA > et-terminal-viewer {
    margin-left: 4px;
    margin-right: 4px;
}
