/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* The computed final values for all of the terminal colour variables. */

@import "terminal-default-colors";
@import "terminal-colors";

/* Set defaults for the background colors based on the foreground colors. */
$terminal-background-color-0: $terminal-color-0 !default;
$terminal-background-color-1: $terminal-color-1 !default;
$terminal-background-color-2: $terminal-color-2 !default;
$terminal-background-color-3: $terminal-color-3 !default;
$terminal-background-color-4: $terminal-color-4 !default;
$terminal-background-color-5: $terminal-color-5 !default;
$terminal-background-color-6: $terminal-color-6 !default;
$terminal-background-color-7: $terminal-color-7 !default;
$terminal-background-color-8: $terminal-color-8 !default;
$terminal-background-color-9: $terminal-color-9 !default;
$terminal-background-color-10: $terminal-color-10 !default;
$terminal-background-color-11: $terminal-color-11 !default;
$terminal-background-color-12: $terminal-color-12 !default;
$terminal-background-color-13: $terminal-color-13 !default;
$terminal-background-color-14: $terminal-color-14 !default;
$terminal-background-color-15: $terminal-color-15 !default;
$terminal-background-color-16: $terminal-color-16 !default;
$terminal-background-color-17: $terminal-color-17 !default;
$terminal-background-color-18: $terminal-color-18 !default;
$terminal-background-color-19: $terminal-color-19 !default;
$terminal-background-color-20: $terminal-color-20 !default;
$terminal-background-color-21: $terminal-color-21 !default;
$terminal-background-color-22: $terminal-color-22 !default;
$terminal-background-color-23: $terminal-color-23 !default;
$terminal-background-color-24: $terminal-color-24 !default;
$terminal-background-color-25: $terminal-color-25 !default;
$terminal-background-color-26: $terminal-color-26 !default;
$terminal-background-color-27: $terminal-color-27 !default;
$terminal-background-color-28: $terminal-color-28 !default;
$terminal-background-color-29: $terminal-color-29 !default;
$terminal-background-color-30: $terminal-color-30 !default;
$terminal-background-color-31: $terminal-color-31 !default;
$terminal-background-color-32: $terminal-color-32 !default;
$terminal-background-color-33: $terminal-color-33 !default;
$terminal-background-color-34: $terminal-color-34 !default;
$terminal-background-color-35: $terminal-color-35 !default;
$terminal-background-color-36: $terminal-color-36 !default;
$terminal-background-color-37: $terminal-color-37 !default;
$terminal-background-color-38: $terminal-color-38 !default;
$terminal-background-color-39: $terminal-color-39 !default;
$terminal-background-color-40: $terminal-color-40 !default;
$terminal-background-color-41: $terminal-color-41 !default;
$terminal-background-color-42: $terminal-color-42 !default;
$terminal-background-color-43: $terminal-color-43 !default;
$terminal-background-color-44: $terminal-color-44 !default;
$terminal-background-color-45: $terminal-color-45 !default;
$terminal-background-color-46: $terminal-color-46 !default;
$terminal-background-color-47: $terminal-color-47 !default;
$terminal-background-color-48: $terminal-color-48 !default;
$terminal-background-color-49: $terminal-color-49 !default;
$terminal-background-color-50: $terminal-color-50 !default;
$terminal-background-color-51: $terminal-color-51 !default;
$terminal-background-color-52: $terminal-color-52 !default;
$terminal-background-color-53: $terminal-color-53 !default;
$terminal-background-color-54: $terminal-color-54 !default;
$terminal-background-color-55: $terminal-color-55 !default;
$terminal-background-color-56: $terminal-color-56 !default;
$terminal-background-color-57: $terminal-color-57 !default;
$terminal-background-color-58: $terminal-color-58 !default;
$terminal-background-color-59: $terminal-color-59 !default;
$terminal-background-color-60: $terminal-color-60 !default;
$terminal-background-color-61: $terminal-color-61 !default;
$terminal-background-color-62: $terminal-color-62 !default;
$terminal-background-color-63: $terminal-color-63 !default;
$terminal-background-color-64: $terminal-color-64 !default;
$terminal-background-color-65: $terminal-color-65 !default;
$terminal-background-color-66: $terminal-color-66 !default;
$terminal-background-color-67: $terminal-color-67 !default;
$terminal-background-color-68: $terminal-color-68 !default;
$terminal-background-color-69: $terminal-color-69 !default;
$terminal-background-color-70: $terminal-color-70 !default;
$terminal-background-color-71: $terminal-color-71 !default;
$terminal-background-color-72: $terminal-color-72 !default;
$terminal-background-color-73: $terminal-color-73 !default;
$terminal-background-color-74: $terminal-color-74 !default;
$terminal-background-color-75: $terminal-color-75 !default;
$terminal-background-color-76: $terminal-color-76 !default;
$terminal-background-color-77: $terminal-color-77 !default;
$terminal-background-color-78: $terminal-color-78 !default;
$terminal-background-color-79: $terminal-color-79 !default;
$terminal-background-color-80: $terminal-color-80 !default;
$terminal-background-color-81: $terminal-color-81 !default;
$terminal-background-color-82: $terminal-color-82 !default;
$terminal-background-color-83: $terminal-color-83 !default;
$terminal-background-color-84: $terminal-color-84 !default;
$terminal-background-color-85: $terminal-color-85 !default;
$terminal-background-color-86: $terminal-color-86 !default;
$terminal-background-color-87: $terminal-color-87 !default;
$terminal-background-color-88: $terminal-color-88 !default;
$terminal-background-color-89: $terminal-color-89 !default;
$terminal-background-color-90: $terminal-color-90 !default;
$terminal-background-color-91: $terminal-color-91 !default;
$terminal-background-color-92: $terminal-color-92 !default;
$terminal-background-color-93: $terminal-color-93 !default;
$terminal-background-color-94: $terminal-color-94 !default;
$terminal-background-color-95: $terminal-color-95 !default;
$terminal-background-color-96: $terminal-color-96 !default;
$terminal-background-color-97: $terminal-color-97 !default;
$terminal-background-color-98: $terminal-color-98 !default;
$terminal-background-color-99: $terminal-color-99 !default;
$terminal-background-color-100: $terminal-color-100 !default;
$terminal-background-color-101: $terminal-color-101 !default;
$terminal-background-color-102: $terminal-color-102 !default;
$terminal-background-color-103: $terminal-color-103 !default;
$terminal-background-color-104: $terminal-color-104 !default;
$terminal-background-color-105: $terminal-color-105 !default;
$terminal-background-color-106: $terminal-color-106 !default;
$terminal-background-color-107: $terminal-color-107 !default;
$terminal-background-color-108: $terminal-color-108 !default;
$terminal-background-color-109: $terminal-color-109 !default;
$terminal-background-color-110: $terminal-color-110 !default;
$terminal-background-color-111: $terminal-color-111 !default;
$terminal-background-color-112: $terminal-color-112 !default;
$terminal-background-color-113: $terminal-color-113 !default;
$terminal-background-color-114: $terminal-color-114 !default;
$terminal-background-color-115: $terminal-color-115 !default;
$terminal-background-color-116: $terminal-color-116 !default;
$terminal-background-color-117: $terminal-color-117 !default;
$terminal-background-color-118: $terminal-color-118 !default;
$terminal-background-color-119: $terminal-color-119 !default;
$terminal-background-color-120: $terminal-color-120 !default;
$terminal-background-color-121: $terminal-color-121 !default;
$terminal-background-color-122: $terminal-color-122 !default;
$terminal-background-color-123: $terminal-color-123 !default;
$terminal-background-color-124: $terminal-color-124 !default;
$terminal-background-color-125: $terminal-color-125 !default;
$terminal-background-color-126: $terminal-color-126 !default;
$terminal-background-color-127: $terminal-color-127 !default;
$terminal-background-color-128: $terminal-color-128 !default;
$terminal-background-color-129: $terminal-color-129 !default;
$terminal-background-color-130: $terminal-color-130 !default;
$terminal-background-color-131: $terminal-color-131 !default;
$terminal-background-color-132: $terminal-color-132 !default;
$terminal-background-color-133: $terminal-color-133 !default;
$terminal-background-color-134: $terminal-color-134 !default;
$terminal-background-color-135: $terminal-color-135 !default;
$terminal-background-color-136: $terminal-color-136 !default;
$terminal-background-color-137: $terminal-color-137 !default;
$terminal-background-color-138: $terminal-color-138 !default;
$terminal-background-color-139: $terminal-color-139 !default;
$terminal-background-color-140: $terminal-color-140 !default;
$terminal-background-color-141: $terminal-color-141 !default;
$terminal-background-color-142: $terminal-color-142 !default;
$terminal-background-color-143: $terminal-color-143 !default;
$terminal-background-color-144: $terminal-color-144 !default;
$terminal-background-color-145: $terminal-color-145 !default;
$terminal-background-color-146: $terminal-color-146 !default;
$terminal-background-color-147: $terminal-color-147 !default;
$terminal-background-color-148: $terminal-color-148 !default;
$terminal-background-color-149: $terminal-color-149 !default;
$terminal-background-color-150: $terminal-color-150 !default;
$terminal-background-color-151: $terminal-color-151 !default;
$terminal-background-color-152: $terminal-color-152 !default;
$terminal-background-color-153: $terminal-color-153 !default;
$terminal-background-color-154: $terminal-color-154 !default;
$terminal-background-color-155: $terminal-color-155 !default;
$terminal-background-color-156: $terminal-color-156 !default;
$terminal-background-color-157: $terminal-color-157 !default;
$terminal-background-color-158: $terminal-color-158 !default;
$terminal-background-color-159: $terminal-color-159 !default;
$terminal-background-color-160: $terminal-color-160 !default;
$terminal-background-color-161: $terminal-color-161 !default;
$terminal-background-color-162: $terminal-color-162 !default;
$terminal-background-color-163: $terminal-color-163 !default;
$terminal-background-color-164: $terminal-color-164 !default;
$terminal-background-color-165: $terminal-color-165 !default;
$terminal-background-color-166: $terminal-color-166 !default;
$terminal-background-color-167: $terminal-color-167 !default;
$terminal-background-color-168: $terminal-color-168 !default;
$terminal-background-color-169: $terminal-color-169 !default;
$terminal-background-color-170: $terminal-color-170 !default;
$terminal-background-color-171: $terminal-color-171 !default;
$terminal-background-color-172: $terminal-color-172 !default;
$terminal-background-color-173: $terminal-color-173 !default;
$terminal-background-color-174: $terminal-color-174 !default;
$terminal-background-color-175: $terminal-color-175 !default;
$terminal-background-color-176: $terminal-color-176 !default;
$terminal-background-color-177: $terminal-color-177 !default;
$terminal-background-color-178: $terminal-color-178 !default;
$terminal-background-color-179: $terminal-color-179 !default;
$terminal-background-color-180: $terminal-color-180 !default;
$terminal-background-color-181: $terminal-color-181 !default;
$terminal-background-color-182: $terminal-color-182 !default;
$terminal-background-color-183: $terminal-color-183 !default;
$terminal-background-color-184: $terminal-color-184 !default;
$terminal-background-color-185: $terminal-color-185 !default;
$terminal-background-color-186: $terminal-color-186 !default;
$terminal-background-color-187: $terminal-color-187 !default;
$terminal-background-color-188: $terminal-color-188 !default;
$terminal-background-color-189: $terminal-color-189 !default;
$terminal-background-color-190: $terminal-color-190 !default;
$terminal-background-color-191: $terminal-color-191 !default;
$terminal-background-color-192: $terminal-color-192 !default;
$terminal-background-color-193: $terminal-color-193 !default;
$terminal-background-color-194: $terminal-color-194 !default;
$terminal-background-color-195: $terminal-color-195 !default;
$terminal-background-color-196: $terminal-color-196 !default;
$terminal-background-color-197: $terminal-color-197 !default;
$terminal-background-color-198: $terminal-color-198 !default;
$terminal-background-color-199: $terminal-color-199 !default;
$terminal-background-color-200: $terminal-color-200 !default;
$terminal-background-color-201: $terminal-color-201 !default;
$terminal-background-color-202: $terminal-color-202 !default;
$terminal-background-color-203: $terminal-color-203 !default;
$terminal-background-color-204: $terminal-color-204 !default;
$terminal-background-color-205: $terminal-color-205 !default;
$terminal-background-color-206: $terminal-color-206 !default;
$terminal-background-color-207: $terminal-color-207 !default;
$terminal-background-color-208: $terminal-color-208 !default;
$terminal-background-color-209: $terminal-color-209 !default;
$terminal-background-color-210: $terminal-color-210 !default;
$terminal-background-color-211: $terminal-color-211 !default;
$terminal-background-color-212: $terminal-color-212 !default;
$terminal-background-color-213: $terminal-color-213 !default;
$terminal-background-color-214: $terminal-color-214 !default;
$terminal-background-color-215: $terminal-color-215 !default;
$terminal-background-color-216: $terminal-color-216 !default;
$terminal-background-color-217: $terminal-color-217 !default;
$terminal-background-color-218: $terminal-color-218 !default;
$terminal-background-color-219: $terminal-color-219 !default;
$terminal-background-color-220: $terminal-color-220 !default;
$terminal-background-color-221: $terminal-color-221 !default;
$terminal-background-color-222: $terminal-color-222 !default;
$terminal-background-color-223: $terminal-color-223 !default;
$terminal-background-color-224: $terminal-color-224 !default;
$terminal-background-color-225: $terminal-color-225 !default;
$terminal-background-color-226: $terminal-color-226 !default;
$terminal-background-color-227: $terminal-color-227 !default;
$terminal-background-color-228: $terminal-color-228 !default;
$terminal-background-color-229: $terminal-color-229 !default;
$terminal-background-color-230: $terminal-color-230 !default;
$terminal-background-color-231: $terminal-color-231 !default;
$terminal-background-color-232: $terminal-color-232 !default;
$terminal-background-color-233: $terminal-color-233 !default;
$terminal-background-color-234: $terminal-color-234 !default;
$terminal-background-color-235: $terminal-color-235 !default;
$terminal-background-color-236: $terminal-color-236 !default;
$terminal-background-color-237: $terminal-color-237 !default;
$terminal-background-color-238: $terminal-color-238 !default;
$terminal-background-color-239: $terminal-color-239 !default;
$terminal-background-color-240: $terminal-color-240 !default;
$terminal-background-color-241: $terminal-color-241 !default;
$terminal-background-color-242: $terminal-color-242 !default;
$terminal-background-color-243: $terminal-color-243 !default;
$terminal-background-color-244: $terminal-color-244 !default;
$terminal-background-color-245: $terminal-color-245 !default;
$terminal-background-color-246: $terminal-color-246 !default;
$terminal-background-color-247: $terminal-color-247 !default;
$terminal-background-color-248: $terminal-color-248 !default;
$terminal-background-color-249: $terminal-color-249 !default;
$terminal-background-color-250: $terminal-color-250 !default;
$terminal-background-color-251: $terminal-color-251 !default;
$terminal-background-color-252: $terminal-color-252 !default;
$terminal-background-color-253: $terminal-color-253 !default;
$terminal-background-color-254: $terminal-color-254 !default;
$terminal-background-color-255: $terminal-color-255 !default;

$terminal-dim-opacity: 0.6 !default;

$terminal-dim-color-0: rgba($terminal-color-0, $terminal-dim-opacity) !default;
$terminal-dim-color-1: rgba($terminal-color-1, $terminal-dim-opacity) !default;
$terminal-dim-color-2: rgba($terminal-color-2, $terminal-dim-opacity) !default;
$terminal-dim-color-3: rgba($terminal-color-3, $terminal-dim-opacity) !default;
$terminal-dim-color-4: rgba($terminal-color-4, $terminal-dim-opacity) !default;
$terminal-dim-color-5: rgba($terminal-color-5, $terminal-dim-opacity) !default;
$terminal-dim-color-6: rgba($terminal-color-6, $terminal-dim-opacity) !default;
$terminal-dim-color-7: rgba($terminal-color-7, $terminal-dim-opacity) !default;
$terminal-dim-color-8: rgba($terminal-color-8, $terminal-dim-opacity) !default;
$terminal-dim-color-9: rgba($terminal-color-9, $terminal-dim-opacity) !default;
$terminal-dim-color-10: rgba($terminal-color-10, $terminal-dim-opacity) !default;
$terminal-dim-color-11: rgba($terminal-color-11, $terminal-dim-opacity) !default;
$terminal-dim-color-12: rgba($terminal-color-12, $terminal-dim-opacity) !default;
$terminal-dim-color-13: rgba($terminal-color-13, $terminal-dim-opacity) !default;
$terminal-dim-color-14: rgba($terminal-color-14, $terminal-dim-opacity) !default;
$terminal-dim-color-15: rgba($terminal-color-15, $terminal-dim-opacity) !default;
$terminal-dim-color-16: rgba($terminal-color-16, $terminal-dim-opacity) !default;
$terminal-dim-color-17: rgba($terminal-color-17, $terminal-dim-opacity) !default;
$terminal-dim-color-18: rgba($terminal-color-18, $terminal-dim-opacity) !default;
$terminal-dim-color-19: rgba($terminal-color-19, $terminal-dim-opacity) !default;
$terminal-dim-color-20: rgba($terminal-color-20, $terminal-dim-opacity) !default;
$terminal-dim-color-21: rgba($terminal-color-21, $terminal-dim-opacity) !default;
$terminal-dim-color-22: rgba($terminal-color-22, $terminal-dim-opacity) !default;
$terminal-dim-color-23: rgba($terminal-color-23, $terminal-dim-opacity) !default;
$terminal-dim-color-24: rgba($terminal-color-24, $terminal-dim-opacity) !default;
$terminal-dim-color-25: rgba($terminal-color-25, $terminal-dim-opacity) !default;
$terminal-dim-color-26: rgba($terminal-color-26, $terminal-dim-opacity) !default;
$terminal-dim-color-27: rgba($terminal-color-27, $terminal-dim-opacity) !default;
$terminal-dim-color-28: rgba($terminal-color-28, $terminal-dim-opacity) !default;
$terminal-dim-color-29: rgba($terminal-color-29, $terminal-dim-opacity) !default;
$terminal-dim-color-30: rgba($terminal-color-30, $terminal-dim-opacity) !default;
$terminal-dim-color-31: rgba($terminal-color-31, $terminal-dim-opacity) !default;
$terminal-dim-color-32: rgba($terminal-color-32, $terminal-dim-opacity) !default;
$terminal-dim-color-33: rgba($terminal-color-33, $terminal-dim-opacity) !default;
$terminal-dim-color-34: rgba($terminal-color-34, $terminal-dim-opacity) !default;
$terminal-dim-color-35: rgba($terminal-color-35, $terminal-dim-opacity) !default;
$terminal-dim-color-36: rgba($terminal-color-36, $terminal-dim-opacity) !default;
$terminal-dim-color-37: rgba($terminal-color-37, $terminal-dim-opacity) !default;
$terminal-dim-color-38: rgba($terminal-color-38, $terminal-dim-opacity) !default;
$terminal-dim-color-39: rgba($terminal-color-39, $terminal-dim-opacity) !default;
$terminal-dim-color-40: rgba($terminal-color-40, $terminal-dim-opacity) !default;
$terminal-dim-color-41: rgba($terminal-color-41, $terminal-dim-opacity) !default;
$terminal-dim-color-42: rgba($terminal-color-42, $terminal-dim-opacity) !default;
$terminal-dim-color-43: rgba($terminal-color-43, $terminal-dim-opacity) !default;
$terminal-dim-color-44: rgba($terminal-color-44, $terminal-dim-opacity) !default;
$terminal-dim-color-45: rgba($terminal-color-45, $terminal-dim-opacity) !default;
$terminal-dim-color-46: rgba($terminal-color-46, $terminal-dim-opacity) !default;
$terminal-dim-color-47: rgba($terminal-color-47, $terminal-dim-opacity) !default;
$terminal-dim-color-48: rgba($terminal-color-48, $terminal-dim-opacity) !default;
$terminal-dim-color-49: rgba($terminal-color-49, $terminal-dim-opacity) !default;
$terminal-dim-color-50: rgba($terminal-color-50, $terminal-dim-opacity) !default;
$terminal-dim-color-51: rgba($terminal-color-51, $terminal-dim-opacity) !default;
$terminal-dim-color-52: rgba($terminal-color-52, $terminal-dim-opacity) !default;
$terminal-dim-color-53: rgba($terminal-color-53, $terminal-dim-opacity) !default;
$terminal-dim-color-54: rgba($terminal-color-54, $terminal-dim-opacity) !default;
$terminal-dim-color-55: rgba($terminal-color-55, $terminal-dim-opacity) !default;
$terminal-dim-color-56: rgba($terminal-color-56, $terminal-dim-opacity) !default;
$terminal-dim-color-57: rgba($terminal-color-57, $terminal-dim-opacity) !default;
$terminal-dim-color-58: rgba($terminal-color-58, $terminal-dim-opacity) !default;
$terminal-dim-color-59: rgba($terminal-color-59, $terminal-dim-opacity) !default;
$terminal-dim-color-60: rgba($terminal-color-60, $terminal-dim-opacity) !default;
$terminal-dim-color-61: rgba($terminal-color-61, $terminal-dim-opacity) !default;
$terminal-dim-color-62: rgba($terminal-color-62, $terminal-dim-opacity) !default;
$terminal-dim-color-63: rgba($terminal-color-63, $terminal-dim-opacity) !default;
$terminal-dim-color-64: rgba($terminal-color-64, $terminal-dim-opacity) !default;
$terminal-dim-color-65: rgba($terminal-color-65, $terminal-dim-opacity) !default;
$terminal-dim-color-66: rgba($terminal-color-66, $terminal-dim-opacity) !default;
$terminal-dim-color-67: rgba($terminal-color-67, $terminal-dim-opacity) !default;
$terminal-dim-color-68: rgba($terminal-color-68, $terminal-dim-opacity) !default;
$terminal-dim-color-69: rgba($terminal-color-69, $terminal-dim-opacity) !default;
$terminal-dim-color-70: rgba($terminal-color-70, $terminal-dim-opacity) !default;
$terminal-dim-color-71: rgba($terminal-color-71, $terminal-dim-opacity) !default;
$terminal-dim-color-72: rgba($terminal-color-72, $terminal-dim-opacity) !default;
$terminal-dim-color-73: rgba($terminal-color-73, $terminal-dim-opacity) !default;
$terminal-dim-color-74: rgba($terminal-color-74, $terminal-dim-opacity) !default;
$terminal-dim-color-75: rgba($terminal-color-75, $terminal-dim-opacity) !default;
$terminal-dim-color-76: rgba($terminal-color-76, $terminal-dim-opacity) !default;
$terminal-dim-color-77: rgba($terminal-color-77, $terminal-dim-opacity) !default;
$terminal-dim-color-78: rgba($terminal-color-78, $terminal-dim-opacity) !default;
$terminal-dim-color-79: rgba($terminal-color-79, $terminal-dim-opacity) !default;
$terminal-dim-color-80: rgba($terminal-color-80, $terminal-dim-opacity) !default;
$terminal-dim-color-81: rgba($terminal-color-81, $terminal-dim-opacity) !default;
$terminal-dim-color-82: rgba($terminal-color-82, $terminal-dim-opacity) !default;
$terminal-dim-color-83: rgba($terminal-color-83, $terminal-dim-opacity) !default;
$terminal-dim-color-84: rgba($terminal-color-84, $terminal-dim-opacity) !default;
$terminal-dim-color-85: rgba($terminal-color-85, $terminal-dim-opacity) !default;
$terminal-dim-color-86: rgba($terminal-color-86, $terminal-dim-opacity) !default;
$terminal-dim-color-87: rgba($terminal-color-87, $terminal-dim-opacity) !default;
$terminal-dim-color-88: rgba($terminal-color-88, $terminal-dim-opacity) !default;
$terminal-dim-color-89: rgba($terminal-color-89, $terminal-dim-opacity) !default;
$terminal-dim-color-90: rgba($terminal-color-90, $terminal-dim-opacity) !default;
$terminal-dim-color-91: rgba($terminal-color-91, $terminal-dim-opacity) !default;
$terminal-dim-color-92: rgba($terminal-color-92, $terminal-dim-opacity) !default;
$terminal-dim-color-93: rgba($terminal-color-93, $terminal-dim-opacity) !default;
$terminal-dim-color-94: rgba($terminal-color-94, $terminal-dim-opacity) !default;
$terminal-dim-color-95: rgba($terminal-color-95, $terminal-dim-opacity) !default;
$terminal-dim-color-96: rgba($terminal-color-96, $terminal-dim-opacity) !default;
$terminal-dim-color-97: rgba($terminal-color-97, $terminal-dim-opacity) !default;
$terminal-dim-color-98: rgba($terminal-color-98, $terminal-dim-opacity) !default;
$terminal-dim-color-99: rgba($terminal-color-99, $terminal-dim-opacity) !default;
$terminal-dim-color-100: rgba($terminal-color-100, $terminal-dim-opacity) !default;
$terminal-dim-color-101: rgba($terminal-color-101, $terminal-dim-opacity) !default;
$terminal-dim-color-102: rgba($terminal-color-102, $terminal-dim-opacity) !default;
$terminal-dim-color-103: rgba($terminal-color-103, $terminal-dim-opacity) !default;
$terminal-dim-color-104: rgba($terminal-color-104, $terminal-dim-opacity) !default;
$terminal-dim-color-105: rgba($terminal-color-105, $terminal-dim-opacity) !default;
$terminal-dim-color-106: rgba($terminal-color-106, $terminal-dim-opacity) !default;
$terminal-dim-color-107: rgba($terminal-color-107, $terminal-dim-opacity) !default;
$terminal-dim-color-108: rgba($terminal-color-108, $terminal-dim-opacity) !default;
$terminal-dim-color-109: rgba($terminal-color-109, $terminal-dim-opacity) !default;
$terminal-dim-color-110: rgba($terminal-color-110, $terminal-dim-opacity) !default;
$terminal-dim-color-111: rgba($terminal-color-111, $terminal-dim-opacity) !default;
$terminal-dim-color-112: rgba($terminal-color-112, $terminal-dim-opacity) !default;
$terminal-dim-color-113: rgba($terminal-color-113, $terminal-dim-opacity) !default;
$terminal-dim-color-114: rgba($terminal-color-114, $terminal-dim-opacity) !default;
$terminal-dim-color-115: rgba($terminal-color-115, $terminal-dim-opacity) !default;
$terminal-dim-color-116: rgba($terminal-color-116, $terminal-dim-opacity) !default;
$terminal-dim-color-117: rgba($terminal-color-117, $terminal-dim-opacity) !default;
$terminal-dim-color-118: rgba($terminal-color-118, $terminal-dim-opacity) !default;
$terminal-dim-color-119: rgba($terminal-color-119, $terminal-dim-opacity) !default;
$terminal-dim-color-120: rgba($terminal-color-120, $terminal-dim-opacity) !default;
$terminal-dim-color-121: rgba($terminal-color-121, $terminal-dim-opacity) !default;
$terminal-dim-color-122: rgba($terminal-color-122, $terminal-dim-opacity) !default;
$terminal-dim-color-123: rgba($terminal-color-123, $terminal-dim-opacity) !default;
$terminal-dim-color-124: rgba($terminal-color-124, $terminal-dim-opacity) !default;
$terminal-dim-color-125: rgba($terminal-color-125, $terminal-dim-opacity) !default;
$terminal-dim-color-126: rgba($terminal-color-126, $terminal-dim-opacity) !default;
$terminal-dim-color-127: rgba($terminal-color-127, $terminal-dim-opacity) !default;
$terminal-dim-color-128: rgba($terminal-color-128, $terminal-dim-opacity) !default;
$terminal-dim-color-129: rgba($terminal-color-129, $terminal-dim-opacity) !default;
$terminal-dim-color-130: rgba($terminal-color-130, $terminal-dim-opacity) !default;
$terminal-dim-color-131: rgba($terminal-color-131, $terminal-dim-opacity) !default;
$terminal-dim-color-132: rgba($terminal-color-132, $terminal-dim-opacity) !default;
$terminal-dim-color-133: rgba($terminal-color-133, $terminal-dim-opacity) !default;
$terminal-dim-color-134: rgba($terminal-color-134, $terminal-dim-opacity) !default;
$terminal-dim-color-135: rgba($terminal-color-135, $terminal-dim-opacity) !default;
$terminal-dim-color-136: rgba($terminal-color-136, $terminal-dim-opacity) !default;
$terminal-dim-color-137: rgba($terminal-color-137, $terminal-dim-opacity) !default;
$terminal-dim-color-138: rgba($terminal-color-138, $terminal-dim-opacity) !default;
$terminal-dim-color-139: rgba($terminal-color-139, $terminal-dim-opacity) !default;
$terminal-dim-color-140: rgba($terminal-color-140, $terminal-dim-opacity) !default;
$terminal-dim-color-141: rgba($terminal-color-141, $terminal-dim-opacity) !default;
$terminal-dim-color-142: rgba($terminal-color-142, $terminal-dim-opacity) !default;
$terminal-dim-color-143: rgba($terminal-color-143, $terminal-dim-opacity) !default;
$terminal-dim-color-144: rgba($terminal-color-144, $terminal-dim-opacity) !default;
$terminal-dim-color-145: rgba($terminal-color-145, $terminal-dim-opacity) !default;
$terminal-dim-color-146: rgba($terminal-color-146, $terminal-dim-opacity) !default;
$terminal-dim-color-147: rgba($terminal-color-147, $terminal-dim-opacity) !default;
$terminal-dim-color-148: rgba($terminal-color-148, $terminal-dim-opacity) !default;
$terminal-dim-color-149: rgba($terminal-color-149, $terminal-dim-opacity) !default;
$terminal-dim-color-150: rgba($terminal-color-150, $terminal-dim-opacity) !default;
$terminal-dim-color-151: rgba($terminal-color-151, $terminal-dim-opacity) !default;
$terminal-dim-color-152: rgba($terminal-color-152, $terminal-dim-opacity) !default;
$terminal-dim-color-153: rgba($terminal-color-153, $terminal-dim-opacity) !default;
$terminal-dim-color-154: rgba($terminal-color-154, $terminal-dim-opacity) !default;
$terminal-dim-color-155: rgba($terminal-color-155, $terminal-dim-opacity) !default;
$terminal-dim-color-156: rgba($terminal-color-156, $terminal-dim-opacity) !default;
$terminal-dim-color-157: rgba($terminal-color-157, $terminal-dim-opacity) !default;
$terminal-dim-color-158: rgba($terminal-color-158, $terminal-dim-opacity) !default;
$terminal-dim-color-159: rgba($terminal-color-159, $terminal-dim-opacity) !default;
$terminal-dim-color-160: rgba($terminal-color-160, $terminal-dim-opacity) !default;
$terminal-dim-color-161: rgba($terminal-color-161, $terminal-dim-opacity) !default;
$terminal-dim-color-162: rgba($terminal-color-162, $terminal-dim-opacity) !default;
$terminal-dim-color-163: rgba($terminal-color-163, $terminal-dim-opacity) !default;
$terminal-dim-color-164: rgba($terminal-color-164, $terminal-dim-opacity) !default;
$terminal-dim-color-165: rgba($terminal-color-165, $terminal-dim-opacity) !default;
$terminal-dim-color-166: rgba($terminal-color-166, $terminal-dim-opacity) !default;
$terminal-dim-color-167: rgba($terminal-color-167, $terminal-dim-opacity) !default;
$terminal-dim-color-168: rgba($terminal-color-168, $terminal-dim-opacity) !default;
$terminal-dim-color-169: rgba($terminal-color-169, $terminal-dim-opacity) !default;
$terminal-dim-color-170: rgba($terminal-color-170, $terminal-dim-opacity) !default;
$terminal-dim-color-171: rgba($terminal-color-171, $terminal-dim-opacity) !default;
$terminal-dim-color-172: rgba($terminal-color-172, $terminal-dim-opacity) !default;
$terminal-dim-color-173: rgba($terminal-color-173, $terminal-dim-opacity) !default;
$terminal-dim-color-174: rgba($terminal-color-174, $terminal-dim-opacity) !default;
$terminal-dim-color-175: rgba($terminal-color-175, $terminal-dim-opacity) !default;
$terminal-dim-color-176: rgba($terminal-color-176, $terminal-dim-opacity) !default;
$terminal-dim-color-177: rgba($terminal-color-177, $terminal-dim-opacity) !default;
$terminal-dim-color-178: rgba($terminal-color-178, $terminal-dim-opacity) !default;
$terminal-dim-color-179: rgba($terminal-color-179, $terminal-dim-opacity) !default;
$terminal-dim-color-180: rgba($terminal-color-180, $terminal-dim-opacity) !default;
$terminal-dim-color-181: rgba($terminal-color-181, $terminal-dim-opacity) !default;
$terminal-dim-color-182: rgba($terminal-color-182, $terminal-dim-opacity) !default;
$terminal-dim-color-183: rgba($terminal-color-183, $terminal-dim-opacity) !default;
$terminal-dim-color-184: rgba($terminal-color-184, $terminal-dim-opacity) !default;
$terminal-dim-color-185: rgba($terminal-color-185, $terminal-dim-opacity) !default;
$terminal-dim-color-186: rgba($terminal-color-186, $terminal-dim-opacity) !default;
$terminal-dim-color-187: rgba($terminal-color-187, $terminal-dim-opacity) !default;
$terminal-dim-color-188: rgba($terminal-color-188, $terminal-dim-opacity) !default;
$terminal-dim-color-189: rgba($terminal-color-189, $terminal-dim-opacity) !default;
$terminal-dim-color-190: rgba($terminal-color-190, $terminal-dim-opacity) !default;
$terminal-dim-color-191: rgba($terminal-color-191, $terminal-dim-opacity) !default;
$terminal-dim-color-192: rgba($terminal-color-192, $terminal-dim-opacity) !default;
$terminal-dim-color-193: rgba($terminal-color-193, $terminal-dim-opacity) !default;
$terminal-dim-color-194: rgba($terminal-color-194, $terminal-dim-opacity) !default;
$terminal-dim-color-195: rgba($terminal-color-195, $terminal-dim-opacity) !default;
$terminal-dim-color-196: rgba($terminal-color-196, $terminal-dim-opacity) !default;
$terminal-dim-color-197: rgba($terminal-color-197, $terminal-dim-opacity) !default;
$terminal-dim-color-198: rgba($terminal-color-198, $terminal-dim-opacity) !default;
$terminal-dim-color-199: rgba($terminal-color-199, $terminal-dim-opacity) !default;
$terminal-dim-color-200: rgba($terminal-color-200, $terminal-dim-opacity) !default;
$terminal-dim-color-201: rgba($terminal-color-201, $terminal-dim-opacity) !default;
$terminal-dim-color-202: rgba($terminal-color-202, $terminal-dim-opacity) !default;
$terminal-dim-color-203: rgba($terminal-color-203, $terminal-dim-opacity) !default;
$terminal-dim-color-204: rgba($terminal-color-204, $terminal-dim-opacity) !default;
$terminal-dim-color-205: rgba($terminal-color-205, $terminal-dim-opacity) !default;
$terminal-dim-color-206: rgba($terminal-color-206, $terminal-dim-opacity) !default;
$terminal-dim-color-207: rgba($terminal-color-207, $terminal-dim-opacity) !default;
$terminal-dim-color-208: rgba($terminal-color-208, $terminal-dim-opacity) !default;
$terminal-dim-color-209: rgba($terminal-color-209, $terminal-dim-opacity) !default;
$terminal-dim-color-210: rgba($terminal-color-210, $terminal-dim-opacity) !default;
$terminal-dim-color-211: rgba($terminal-color-211, $terminal-dim-opacity) !default;
$terminal-dim-color-212: rgba($terminal-color-212, $terminal-dim-opacity) !default;
$terminal-dim-color-213: rgba($terminal-color-213, $terminal-dim-opacity) !default;
$terminal-dim-color-214: rgba($terminal-color-214, $terminal-dim-opacity) !default;
$terminal-dim-color-215: rgba($terminal-color-215, $terminal-dim-opacity) !default;
$terminal-dim-color-216: rgba($terminal-color-216, $terminal-dim-opacity) !default;
$terminal-dim-color-217: rgba($terminal-color-217, $terminal-dim-opacity) !default;
$terminal-dim-color-218: rgba($terminal-color-218, $terminal-dim-opacity) !default;
$terminal-dim-color-219: rgba($terminal-color-219, $terminal-dim-opacity) !default;
$terminal-dim-color-220: rgba($terminal-color-220, $terminal-dim-opacity) !default;
$terminal-dim-color-221: rgba($terminal-color-221, $terminal-dim-opacity) !default;
$terminal-dim-color-222: rgba($terminal-color-222, $terminal-dim-opacity) !default;
$terminal-dim-color-223: rgba($terminal-color-223, $terminal-dim-opacity) !default;
$terminal-dim-color-224: rgba($terminal-color-224, $terminal-dim-opacity) !default;
$terminal-dim-color-225: rgba($terminal-color-225, $terminal-dim-opacity) !default;
$terminal-dim-color-226: rgba($terminal-color-226, $terminal-dim-opacity) !default;
$terminal-dim-color-227: rgba($terminal-color-227, $terminal-dim-opacity) !default;
$terminal-dim-color-228: rgba($terminal-color-228, $terminal-dim-opacity) !default;
$terminal-dim-color-229: rgba($terminal-color-229, $terminal-dim-opacity) !default;
$terminal-dim-color-230: rgba($terminal-color-230, $terminal-dim-opacity) !default;
$terminal-dim-color-231: rgba($terminal-color-231, $terminal-dim-opacity) !default;
$terminal-dim-color-232: rgba($terminal-color-232, $terminal-dim-opacity) !default;
$terminal-dim-color-233: rgba($terminal-color-233, $terminal-dim-opacity) !default;
$terminal-dim-color-234: rgba($terminal-color-234, $terminal-dim-opacity) !default;
$terminal-dim-color-235: rgba($terminal-color-235, $terminal-dim-opacity) !default;
$terminal-dim-color-236: rgba($terminal-color-236, $terminal-dim-opacity) !default;
$terminal-dim-color-237: rgba($terminal-color-237, $terminal-dim-opacity) !default;
$terminal-dim-color-238: rgba($terminal-color-238, $terminal-dim-opacity) !default;
$terminal-dim-color-239: rgba($terminal-color-239, $terminal-dim-opacity) !default;
$terminal-dim-color-240: rgba($terminal-color-240, $terminal-dim-opacity) !default;
$terminal-dim-color-241: rgba($terminal-color-241, $terminal-dim-opacity) !default;
$terminal-dim-color-242: rgba($terminal-color-242, $terminal-dim-opacity) !default;
$terminal-dim-color-243: rgba($terminal-color-243, $terminal-dim-opacity) !default;
$terminal-dim-color-244: rgba($terminal-color-244, $terminal-dim-opacity) !default;
$terminal-dim-color-245: rgba($terminal-color-245, $terminal-dim-opacity) !default;
$terminal-dim-color-246: rgba($terminal-color-246, $terminal-dim-opacity) !default;
$terminal-dim-color-247: rgba($terminal-color-247, $terminal-dim-opacity) !default;
$terminal-dim-color-248: rgba($terminal-color-248, $terminal-dim-opacity) !default;
$terminal-dim-color-249: rgba($terminal-color-249, $terminal-dim-opacity) !default;
$terminal-dim-color-250: rgba($terminal-color-250, $terminal-dim-opacity) !default;
$terminal-dim-color-251: rgba($terminal-color-251, $terminal-dim-opacity) !default;
$terminal-dim-color-252: rgba($terminal-color-252, $terminal-dim-opacity) !default;
$terminal-dim-color-253: rgba($terminal-color-253, $terminal-dim-opacity) !default;
$terminal-dim-color-254: rgba($terminal-color-254, $terminal-dim-opacity) !default;
$terminal-dim-color-255: rgba($terminal-color-255, $terminal-dim-opacity) !default;
