/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* This file defines the variabls to control the colors used in the terminal.
   It should be overridden by terminal themes. Default values for colors are
   defined in terminal-default-colors.scss.
*/
