/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* terminal styles */

:host {
  display: block;
  contain: strict;
}

#ID_CONTAINER {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_SCROLLBAR {
    flex: 0;
    height: 100%;
}

#ID_SCROLL_CONTAINER {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
  background-color: green;
}

#ID_SCROLL_AREA {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  background-color: var(--terminal-background-color);
}

#ID_SCROLL_AREA > et-terminal-viewer {
    margin-left: 4px;
    margin-right: 4px;
}
