/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* text viewer styles */

:host {
  display: block;
  width: 100%;
  white-space: normal;
}

#ID_CONTAINER {
/*          height: 100%; */
  width: 100%;
  overflow: hidden;
}

#ID_CONTAINER > DIV.CodeMirror {
  font-family: "DejaVu Sans Mono";
  font-size: 13px;
  line-height: normal;
}

#ID_CONTAINER:focus {
  outline: 0px;
}

#ID_CONTAINER.hide_cursor .CodeMirror-cursors {
    display: none !important;
}

#ID_CONTAINER.hide_cursor .CodeMirror-lines {
  cursor: default;
}

//-------------------------------------------------------------------------

@mixin text-general {
  background: #000000;
  color: #b2b2b2;
}

@mixin text-cursor {
  border-left: 1px solid #ffb300;
}

@mixin text-selected {
  background-color: #005CCC;
}

@mixin text-matchingbracket {
  outline: 1px solid #b2b2b2;
  color: #ffffff;
}

@mixin text-activeline {
  background-color: #202020;
}

@mixin text-gutters {
  background: #000000;
  border-right: 1px solid #b2b2b2;
}

@mixin text-guttermarker {
  color: #599eff;
}

@mixin text-guttermarker-subtle {
  color: #b2b2b2;
}

@mixin text-linenumber {
  color: #b2b2b2;
}

@mixin text-syntax-header {
  color: #b2b2b2;
}

@mixin text-syntax-quote {
  color: #b2b2b2;
}

@mixin text-syntax-keyword {
  color: #7373ff;
  font-weight: bold;
}

@mixin text-syntax-atom {
  color: #b2b2b2;
}

@mixin text-syntax-number {
  color: #18b218;
}

@mixin text-syntax-def {
  color: #b2b2b2;
  font-weight: bold;
}

@mixin text-syntax-variable {
  color: #b2b2b2;
}

@mixin text-syntax-variable-2 {
  color: #18b2b2;
}

@mixin text-syntax-variable-3 {
  color: #b218b2;
  font-weight: bold;
}

@mixin text-syntax-property {
  color: #7373ff;
}

@mixin text-syntax-operator {
  color: #b2b2b2;
}

@mixin text-syntax-comment {
  color: #ffffff;
  font-weight: bold;
}

@mixin text-syntax-string {
  color: #18b218;
}

@mixin text-syntax-string-2 {
  color: #18b218;
}

@mixin text-syntax-meta {
  color: #54ffff;
}

@mixin text-syntax-qualifier {
  color: #b2b2b2;
}

@mixin text-syntax-builtin {
  color: #54ffff;
}

@mixin text-syntax-bracket {
  color: #b2b2b27;
}

@mixin text-syntax-tag {
  color: #7373ff;
  font-weight: bold;
}

@mixin text-syntax-attribute {
  color: #54ffff;
}

@mixin text-syntax-hr {
  color: #b2b2b2;
}

@mixin text-syntax-link {
  color: #3535ff;
}

@mixin text-syntax-error {
  color: #ff5454;
}

//-------------------------------------------------------------------------

.cm-s-text {
  line-height: 1.3em;
}

.cm-s-text.CodeMirror { @include text-general; }

.cm-s-text div.CodeMirror-selected { @include text-selected; }

.cm-s-text .CodeMirror-line::selection,
.cm-s-text .CodeMirror-line > span::selection,
.cm-s-text .CodeMirror-line > span > span::selection {
  @include text-selected;
}

.cm-s-text .CodeMirror-cursor { @include text-cursor; }

.cm-s-text pre { padding: 0 8px; }/*editable code holder*/

.cm-s-text.CodeMirror span.CodeMirror-matchingbracket { @include text-matchingbracket; }

.cm-s-text .CodeMirror-gutters { @include text-gutters; }
.cm-s-text .CodeMirror-guttermarker { @include text-guttermarker; }
.cm-s-text .CodeMirror-guttermarker-subtle { @include text-guttermarker-subtle; }
.cm-s-text .CodeMirror-linenumber { @include text-linenumber; }

.cm-s-text span.cm-header { @include text-syntax-header; }
.cm-s-text span.cm-quote { @include text-syntax-quote; }
.cm-s-text span.cm-keyword { @include text-syntax-keyword; }
.cm-s-text span.cm-atom { @include text-syntax-atom; }
.cm-s-text span.cm-number { @include text-syntax-number; }
.cm-s-text span.cm-def { @include text-syntax-def; }
.cm-s-text span.cm-variabl { @include text-syntax-variable; }
.cm-s-text span.cm-variable-2 { @include text-syntax-variable-2; }
.cm-s-text span.cm-variable-3 { @include text-syntax-variable-3; }
.cm-s-text span.cm-property { @include text-syntax-property; }
.cm-s-text span.cm-operator { @include text-syntax-operator; }
.cm-s-text span.cm-comment { @include text-syntax-comment; }
.cm-s-text span.cm-string { @include text-syntax-string; }
.cm-s-text span.cm-string-2 { @include text-syntax-string-2; }
.cm-s-text span.cm-meta { @include text-syntax-meta; }
.cm-s-text span.cm-qualifier { @include text-syntax-qualifier; }
.cm-s-text span.cm-builtin { @include text-syntax-builtin; }
.cm-s-text span.cm-bracket { @include text-syntax-bracket; }
.cm-s-text span.cm-tag { @include text-syntax-tag; }
.cm-s-text span.cm-attribute { @include text-syntax-attribute; }
.cm-s-text span.cm-hr { @include text-syntax-hr; }
.cm-s-text span.cm-link { @include text-syntax-link; }
.cm-s-text span.cm-error { @include text-syntax-error; }

.cm-s-text .CodeMirror-activeline-background { @include text-activeline; }
.cm-s-text .CodeMirror-matchingbracket { @include text-matchingbracket; }
