
@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("DejaVuSansMono.ttf");
}

.terminal {
    font-family: "DejaVu Sans Mono";
    font-size: 13px;
    color: #f0f0f0;
    background: #000;
}

DIV:focus > DIV > SPAN.terminal-cursor {
  color: #000000;
  background: #ffffff;
  outline: 0px;
}

SPAN.terminal-cursor {
  outline: 1px solid #808080;
}
