/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top-window */
@import "fontawesome-fontface";
@import "extraicons-fontface";
@import "emoji-fontface";

DIV.tab_bar_rest {
  display: flex;
  flex-grow: 1;
  height: 36px;
}

DIV.tab_bar_rest > DIV.space {
  flex-grow: 1;
}

BODY {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.CLASS_MAIN_NOT_DRAGGING DIV.space {
    @if $extraterm-titlebar-visible == false {
      -webkit-app-region: drag;
    }
  }
}

EXTRATERM-MAINWEBUI {
  position: absolute; // or relative
  left: 0;
  top: if($extraterm-titlebar-visible == true, 4px, 0px);
  right: 0;
  bottom: 0;
}

*:unresolved {
  background-color: red;
  border: 1px dashed red;
}

#ID_MENU_BUTTON:focus {
  outline: 0px solid transparent;
}
