/*

*/

/* ************ GUI and tabs. ************ */
DIV.toplayout {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    display: flex;
    flex-direction: column;
}

DIV.tabbar {
    background-color: #dfe2e2;
    padding: 2px;

    display: flex;
    flex: 0 auto;
    flex-direction: row;
    
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.configure_button {
    flex: 0 auto;
}

.configure_icon {
    width: 16px;
    height: 16px;
    background-image: url(configure.png);
}

.tabbar_space {
    flex: 1 auto;
}

.tab_container {
    position: relative;
    
    flex: 1 auto;
}

DIV.terminal_tab_active {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

DIV.terminal_tab_inactive {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}

.terminal {
    width: 100%;
    height: 100%;
    
    position: absolute;
    white-space: nowrap;
    
    overflow: scroll;
}

DIV.tab_active {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    
    font-size: 0.875rem;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    padding-top: 4px;
    
    background-color: #f4f4f4;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 -1px 1px -1px black, -1px 0px 1px -1px black, 1px 0px 1px -1px black;
    
    text-align: center;
    flex-basis: 10rem;
}

DIV.tab_inactive {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    
    font-size: 0.875rem;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    padding-top: 2px;
    
    background-color: #D2D6D6;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 -1px 1px -1px black, -1px 0px 1px -1px black, 1px 0px 1px -1px black;

    margin-top: 3px;
    
    text-align: center;
    flex-basis: 10rem;
}


/* ************ Generic Flex classes ************ */
DIV.flexvlayout {
    display: flex;
    flex-direction: column;
}

DIV.flexhlayout {
    display: flex;
    flex-direction: row;
}

.flexmin {
    flex: 0 auto;
}

.flexmax {
    flex: 1 1;
}

.flex1 {
    flex: 1 1;
}

.flex2 {
    flex: 2 2;
}

.vspace {
    width: 1px;
    height: 1em;
}

/* ************ GUI elements ************ */

H1.gui-heading {
    font-size: 28px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1em;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

/* ************ Configure Panel ************ */

DIV.configure_panel {
    display: none;
}

/* Panel open. Div covers the whole window. */
DIV.configure_panel_open {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    display: flex;
    flex-direction: column;
}

/* Content of the configure panel */
DIV.configure_content {
    background-color: #F4F4F4;    

    border-radius: 4px;
    padding: 8px;
    
    flex-basis: 20rem;
}

/* ************ Theme ************ */

.terminal {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 13px;
    color: #f0f0f0;
    background: #000;
}

.terminal-cursor {
    color: #000000;
    background: #ffffff;
}

DIV.extraterm_start_output {
    border: 1px solid green;
}

DIV.extraterm_output {
    border: 1px solid blue;
}

span[data-extraterm-type='directory'] {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-right: 2px;
    
    display: inline-block;
    min-height: 16px;
    background-image: url(folder-yellow.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    
    background-color: #008dc7;
    border-radius: 2px;
}

span[data-extraterm-type='directory']:hover {
    text-decoration: underline;
    cursor: pointer;
}

.terminal > DIV.terminal-active {
    /* background-color: #804040; */
}

.terminal > DIV.terminal-scrollback {
/*    background-color: #404080; */
}
