/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */
@import "bootstrap/variables";
@import "bootstrap/px-to-rem";
@import "font-awesome";


:host(:focus) {
  outline: 0 solid transparent;
}

#ID_EMPTY_PANE_MENU {
  font-family: $font-family-base;
  font-size: $input-font-size;
  color: $text-color;

  background-color: $dropdown-bg;

  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_CONTAINER {
  --empty-pane-menu-container-width: pxToRem(400px);

  display: block;

  width: 100%;
  max-width: var(--empty-pane-menu-container-width);

  margin-left: auto;
  margin-right: auto;
}

#ID_TITLE {
  width: 100%;

  margin-bottom: pxToRem(5px);
}

#ID_CLOSE_BUTTON {
  float: right;

  display: block;
  width: pxToRem(16px);
  height: pxToRem(16px);
  border: 0;
  padding: 0;

  font-size: 1rem;
  line-height: $tab-height;
  
  border-radius: pxToRem(8px);
  background-color: transparent;
  text-align: center;

  z-index: 1;
  
  & > i {
    position: relative;
    top: pxToRem(-5px);
    font-size: 1rem;
  }

  &:focus {
    outline: 0 solid transparent;
  }

  &:hover {
    background-color: $btn-danger-bg;
    color: $dropdown-bg;
  }  
}
