/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top UI */
@import "bootstrap/variables";
@import "main-ui-titlebar";

:host {
  display: block;
  position: relative;
}

#ID_TOP_LAYOUT {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  display: flex;
  flex-direction: column;
}

#ID_TITLE_BAR {
  background: $tab-bar-background-color;
}

#ID_MAIN_CONTENTS {
  flex-grow: 1;  
  display: flex;
}

#ID_PANE_LEFT {
  flex: auto 1 1;  
}

#ID_PANE_LEFT, #ID_PANE_RIGHT {
  position: relative;
}

#ID_TAB_CONTAINER_LEFT, #ID_TAB_CONTAINER_RIGHT {
  position: absolute;
  width: 100%;
  height: 100%;
}

#ID_PANE_RIGHT {
  display: none;
}

#ID_MAIN_CONTENTS > #ID_GAP {
  flex: 0px 0 0;
  position: relative;
  background-color: $tab-background-color-active;

  &::before {
    content: "";
    background-image: -webkit-linear-gradient(top, $tab-bar-background-color, lighten($tab-bar-background-color, 9%));
    box-shadow: inset 0 -8px 8px -4px rgba(0,0,0, .15);

    width: 2px;
    height: 36px;
    display: block;
  }
  
  $tab-bottom-border-height: 5px;
  
  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: $tab-bottom-border-height;
    top: 31px;
    left: 0px;
    background-color: $tab-background-color-active;
    border-top: 1px solid $tab-border-color;
    pointer-events: none;
  }
}

#ID_MAIN_CONTENTS.split > #ID_GAP {
  visibility: visible;
  flex: 2px 0 0;
  
}

#ID_MAIN_CONTENTS.split > #ID_PANE_RIGHT {
  flex: auto 1 1;
  display: block;
}

#ID_REST_DIV_PRIMARY {
  display: flex;
}

#ID_NEW_TAB_BUTTON_PRIMARY, #ID_NEW_TAB_BUTTON_SECONDARY {
  position: relative;
  top: 6px;  
}

#ID_REST_DIV_PRIMARY > DIV.space {
  flex-grow: 1;
}

/* Contents of the tabs at the top of the window. */
DIV.tab_content {
  height: 100%;
  width: 100%;

}
DIV.tab_content > * {
  position: absolute;
  width: 100%;
  
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

DIV.tab_header_container {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

DIV.tab_header_icon {
  flex: 0 0 auto;
  font-size: 125%;
}

DIV.tab_header_middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-right: 8px;
}

DIV.tab_header_close {
  flex: 0 0 auto;
  align-self: center;
}

DIV.tab_header_close > BUTTON {
  display: block;
  width: 16px;
  height: 16px;
  border: 0px;
  padding: 0px;
  
  border-radius: 8px;
  background-color: transparent;
  text-align: center;
  
  & > i {
    position: relative;
    top: -5px;
  }
}

DIV.tab_header_close:hover > BUTTON {
  background-color: $btn-danger-bg;
  color: $tab-background-color-active;
}
