/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top-window */
@import "fontawesome-fontface";
@import "extraicons-fontface";
@import "emoji-fontface";

DIV.tab_bar_rest {
  display: flex;
  width: 100%;
  
  & > * {
    position: relative;
    top: 0px;
  }
  
  & > DIV.space {
    flex-grow: 1;
    @if $extraterm-titlebar-visible == false {
      -webkit-app-region: drag;
    }
  }
  
}


BODY {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #d8d8d8;
}

EXTRATERM-MAINWEBUI {
  position: absolute; // or relative
  left: 0;
  top: if($extraterm-titlebar-visible or $extraterm-platform == darwin, 5px, 0px);
  right: 0;
  bottom: 0;
}

*:unresolved {
  background-color: red;
  border: 1px dashed red;
}

#ID_MENU_BUTTON:focus {
  outline: 0px solid transparent;
}

#ID_NEW_TAB_BUTTON_PRIMARY:focus {
  outline: 0px solid transparent;
}
