/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

 @mixin make-btn-microtool($color-name, $btn-bg-color) {
  .btn.btn-microtool-#{$color-name} {
    border-color: transparent;
    background-color: inherit;
    color: $text-color;
    text-shadow: none;
  
    transition: color,background-color 0.2s ease-in-out;
  
    background-image: none;
    box-shadow: none;
  
    border-radius: 50%;

    width: 1.5em;
    height: 1.5em;
    text-align: center;
    padding: 0;
    vertical-align: middle;

    &:hover, &:focus {
      background-color: $btn-bg-color;
      color: $body-bg;
    }

    position: relative;

    > I {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
    }
  } 
}

@include make-btn-microtool("primary", $btn-primary-bg);
@include make-btn-microtool("success", $btn-success-bg);
@include make-btn-microtool("info", $btn-info-bg);
@include make-btn-microtool("warning", $btn-warning-bg);
@include make-btn-microtool("danger", $btn-danger-bg);
