// This file was never part of official Bootstrap.
//
// This defines extra classes for setting widths.

// Max widths to comfortably support inputs with 'x' chars.
@mixin char-width($chars) {
  .char-width-#{$chars} {
    width: calc(#{$chars}rem + #{$padding-base-horizontal});
    min-width: calc(#{$chars}rem + #{$padding-base-horizontal});
    max-width: calc(#{$chars}rem + #{$padding-base-horizontal});
  }

  select.char-width-#{$chars} {
    width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
    min-width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
    max-width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
  }
  
  input[type="number"].char-width-#{$chars} {
    width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
    min-width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
    max-width: calc(#{$chars}rem + 1rem + #{$padding-base-horizontal});
  }
}

@include char-width(4);
@include char-width(8);
@include char-width(12);
