/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

.btn.btn-quiet {
  border-color: transparent;
  background-color: inherit;
  color: $text-color;
  text-shadow: none;
  
  &:hover, &:focus {
    color: $text-color;
    border-color: $btn-default-border;
  }
}
