/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/variables";
@import "general-gui/pxToRem";
@import "font-awesome";


:host(:focus) {
  outline: pxToRem(0px) solid transparent;
}

#ID_EMPTY_PANE_MENU {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;

  background-color: $dropdown-bg-color;

  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_CONTAINER {
  --empty-pane-menu-container-width: #{pxToRem(400px)};

  display: block;

  width: 100%;
  max-width: var(--empty-pane-menu-container-width);

  margin-left: auto;
  margin-right: auto;
}

#ID_TITLE {
  width: 100%;

  margin-bottom: pxToRem(5px);
}

#ID_CLOSE_BUTTON {
  display: block;
  float: right;

  display: block;


  border: 0;
  background-color: transparent;
  border-radius: pxToRem(2px);


  &:hover {
    background-color: $button-danger-bg-color;
    color: $button-danger-color;
  }

  &:focus {
    outline: 0 solid transparent;
  }
}