/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

@import "general-gui/variables";

.top_container {
  background-color: $background-color;
  padding: $panel-body-padding;
}

.upload_hide {
    opacity: 0;
}
