/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";
@import "extraicons-fontface";

.CLASS_RESULT_ENTRY {
  &.CLASS_RESULT_GROUP_HEAD {
    border-top: 1px solid $text-color;
  }
}

.CLASS_RESULT_ICON_LEFT {
  flex: auto 0 0;
}

.CLASS_RESULT_ICON_RIGHT {
  flex: auto 0 0;
}

.CLASS_RESULT_LABEL {
  flex: auto 1 1;
  padding-left: 1rem;
}

.CLASS_RESULT_SHORTCUT {
  flex: auto 0 0;
  padding-right: 1.5rem;
}

span.fa-fw.CLASS_EXTRAICON {
  font-family: 'extraicons';
  display: inline-block;
}
