/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

/* key-bindings-tab styles */


@import "general-gui/variables";

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_KEY_BINDINGS {
  height: 100%;
  overflow: auto;
  padding: $panel-body-padding;
  
  & > * {
    max-width: calc(100% - 1rem);
  }
}

TR.command-row {

  height: calc(#{2*$table-cell-padding} + #{$line-height-computed + pxToRem(1px + 3px)});

  BUTTON[class*="microtool"] {
    visibility: hidden;
    margin-left: 0.5em;
  }
}

TR.command-row:hover BUTTON[class*="microtool"] {
  visibility: visible;
}
