/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* settings-tab styles */

@import "extraterm-scrollbars";
@import "bootstrap/_variables";

:host(:focus) {
  outline: 0 solid transparent;
}

#settings_top {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#settings_menu {
  flex-grow: 0;
  flex-shrink: 0;
  width: 180px;

  -webkit-user-select: none;
  user-select: none;
  padding-top: $component-padding;
  background-color: lighten($base-background-color, 2%);
  border-right: 1px solid $base-border-color;
  overflow-x: auto;
  
  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: block;
      padding: $nav-link-padding;
      cursor: pointer;

      &.active, &.active:hover {
        color: $text-color-selected;
        background-color: $background-color-selected;
      }

      &:focus, &:hover {
        color: $text-color-highlight;
        background-color: $background-color-highlight;
      }
    }
  }
}


#settings_pane {  
  flex-grow: 1;
  padding: $panel-body-padding;
  overflow: auto;
}


#ID_COMMAND_OUTPUT_HANDLING > table td.CLASS_FRAME {
  min-width: 10em;
}

div.input-group > select.form-control.form-control.form-control:first-child {
  border-radius: $input-border-radius;
}

$package-card-background-color: lighten($tool-panel-background-color, 8%);


.card {
  padding: $component-padding*1.5;
  margin-bottom: $component-padding;
  list-style-type: none;
  font-size: 1.2em;
  border-radius: $component-border-radius*2;
  border: 1px solid $base-border-color;
  background-color: $package-card-background-color;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
}

.session-configuration {

  position: relative;

  & h3 {
    margin-top: 0;
  }

  & BUTTON.delete_button {
    position: absolute;
    right: $component-padding*1.5;
    top: $component-padding*1.5;

    font-size: 1.2em;

    display: block;
    width: 1.5em;
    height: 1.5em;
    border: 0;
    padding: 0;
    
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    line-height: 1;
    font-size: $font-size-base;

    outline: 0 solid transparent;

    transition: background-color,color 0.2s ease-in-out;

    &:hover {
      background-color: $btn-danger-bg;
      color: $tab-background-color-active;
    }

    &:focus {
      outline: 0 solid transparent;
    }
  }
}
