/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* terminal styles */
@import 'bootstrap/px-to-rem';

:host {
  display: block;
  contain: strict;
}

#ID_CONTAINER {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_SCROLLBAR {
  flex: 0;
  height: 100%;
}

#ID_SCROLL_CONTAINER {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
  background-color: var(--terminal-background-color);
}

#ID_SCROLL_AREA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--terminal-background-color);

  & > * {
    position: absolute;
  }
  & > et-terminal-viewer {
   left: pxToRem(4px);
   right: pxToRem(4px);
  }
}

.CLASS_VISITOR_DIALOG {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

et-upload-progress-bar {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
}
