/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */

/*
  CSS variables which are made available globally available.
*/

@import "general-gui/variables";

BODY {
  --scrollbar-background-color: transparent;
  --scrollbar-track-background-color: transparent;
  --scrollbar-thumb-background-color: #{lighten($background-color, 30%)};
  --scrollbar-thumb-hover-background-color: #{lighten($background-color, 40%)};
}
