/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

@import "bootstrap/_variables";
@import "extraterm-keycaps";

#ID_CONTAINER {
  display: flex;
  align-items: stretch;

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  
  padding: $panel-body-padding;
  
  &:focus {
    outline: 0 solid black;
  }
}

#ID_CONTENT {
  flex-grow: 10;
  & > h1, & > h2, & > h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#ID_CONTROLS {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 10em;

  padding-left: 1em;

  & > div {
    // border: pxToRem(1px) solid red;
    justify-content: flex-end;
    flex-grow: 1;
  }

  & > div:last-child {
    flex-grow: 0;
    &.form-group-sm > select.form-control {
      width: 100%;
    }
  }
}

SPAN.CLASS_KEYCAP {
  @include keycap;
}
