/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* gui-scrollbar styles */
@import "extraterm-scrollbars";

:host {
  display: block;
  color: transparent;
  contain: content;
}

#ID_CONTAINER {
  width: $scrollbar-size + 2 * $scrollbar-pad;
  height: 100%;
  contain: strict;
  overflow-x: hidden;
  overflow-y: scroll;
}

#ID_AREA {
  width: 1px;
  height: 1px;
}
