[Desktop Entry]
Name=ExtratermQt
Exec=/opt/extratermqt/extratermqt
Terminal=false
Type=Application
Comment=The swiss army chainsaw of terminal emulators
Categories=System;TerminalEmulator;X-GNOME-Utilities;
Icon=extratermqt
