/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "general-gui/variables";


:host(:focus) {
  outline: 0 solid transparent;
}

#ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_RESULTS {
  overflow: auto;
  cursor: default;
}

.CLASS_RESULT_ENTRY {
  display: flex;
  width: 100%;
  
  padding-left: $padding-xs-horizontal;
  padding-right: $padding-xs-horizontal;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
    outline: 1px solid $background-selected-color;
    outline-offset: -1px;
  }

  &.CLASS_RESULT_SELECTED {
    outline: none;
    text-shadow: none;
    color: $text-selected-color;
    background-color: $background-selected-color;
  }
}
