/**
 * Copyright 2020 Simon Edwards <simon@simonzone.com>
 */

/* top UI */
@import "general-gui/variables";
@import "app-components/main-ui-titlebar";
@import "general-gui/pxToRem";

$tab-background-color-active: $background-color;

:host {
  display: block;
  position: relative;
}

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_TOP_LAYOUT {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

#ID_MAIN_CONTENTS {
  position: relative;

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@if($extraterm-titlebar-style != "compact") {
  #ID_TOP_LAYOUT {
    display: flex;
    flex-direction: column;
  }

  #ID_TITLE_BAR {
    background: $tab-bar-background-color;
  }

  #ID_MAIN_CONTENTS {
    flex-grow: 1;
  }
}

@if($extraterm-titlebar-style == "compact") {
  #ID_TITLE_BAR {
    background: $tab-bar-background-color;
  }

  #ID_TITLE_BAR {
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: $tab-height;
  }

  :host.CLASS_ENABLE_WINDOW_MOVE #ID_TITLE_BAR {
    -webkit-app-region: drag;
  }

  #ID_MAIN_CONTENTS {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.CLASS_NEW_BUTTON_CONTAINER {
  display: flex;
  flex-grow: 1;
  height: 100%;

  & > button {
    flex-grow: 0;
  }

  & > #ID_NEW_TERMINAL_CONTEXT_AREA {
    display: flex;

    & > .CLASS_NEW_TAB_BUTTON {
      align-self: center;
    }
  }
}

/* Contents of the tabs at the top of the window. */
DIV.tab_content {
  height: 100%;
  width: 100%;
  position: relative;
}

DIV.tab_content > * {
  position: absolute;
  width: 100%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

et-tab:focus {
  outline: none;
}

DIV.tab_header_container {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

DIV.tab_header_icon {
  flex: 0 0 auto;
  font-size: 125%;
}

DIV.tab_header_middle {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: pxToRem(8px);
  margin-right: pxToRem(8px);
}

DIV.tab_header_tag {
  flex: 0 0 auto;
}

DIV.tab_title_extensions {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  margin-left: pxToRem(8px);
  margin-right: pxToRem(8px);

  & > ex-extension-widget-proxy {
    width: 100%;
  }
}

DIV.tab_header_close {
  flex: 0 0 auto;
  align-self: center;
}

DIV.tab_header_container:hover DIV.tab_header_close > BUTTON:not(:hover) {
  color: $text-highlight-color;
}

DIV.tab_header_close:hover > BUTTON {
  background-color: $button-danger-bg-color;
  color: $tab-background-color-active;
}

DIV.tab_header_close > BUTTON:focus {
  outline: 0 solid transparent;
}
