/**
 * Copyright 2016-2018 Simon Edwards <simon@simonzone.com>
 */
@import "app-components/window-controls";
@import "fonts/extraicons-fontface";

$drag-bar-height: if($extraterm-titlebar-style == "theme", pxToRem(16px), 0.333333rem);
$resize-bar-height: if($extraterm-titlebar-style == "theme", pxToRem(4px), 0px);


@if($extraterm-titlebar-style == "native") {
  #ID_TITLE_BAR {
    display: none;
  }

} @else {

  #ID_TITLE_BAR {
    flex-grow: 0;

    display: flex;
    width: 100%;
  }

  #ID_TITLE_BAR_SPACE {
    flex-grow: 1;
    position: relative;
  }

  #ID_TOP_RESIZE_BAR {
    position: absolute;
    top: pxToRem(0px);
    bottom: $resize-bar-height;
    width: 100%;
  }

  #ID_DRAG_BAR {
    position: absolute;
    top: $resize-bar-height;
    width: 100%;

    -webkit-app-region: drag;
    cursor: move;
    height: $drag-bar-height;
  }
}

@if($extraterm-platform == "darwin" and  $extraterm-titlebar-style == "compact") {
  #ID_REST_DIV_LEFT {
    min-width: 76px;
  }
} @else {
  #ID_REST_DIV_LEFT {
    display: none;
  }
}
