/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* viewer-tab styles */
@import 'general-gui/pxToRem';

:host {
  display: block;
}

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_CONTAINER {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#ID_SCROLLBAR {
    flex: 0;
    min-width: pxToRem(15px);
    height: 100%;
}

#ID_SCROLL_AREA {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--terminal-background-color);
}

.CLASS_VISITOR_DIALOG {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
