.terminal {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 13px;
    color: #f0f0f0;
    background: #000;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    white-space: nowrap;
    
    overflow: scroll;
}
.terminal-cursor {
    color: #000000;
    background: #ffffff;
}
