/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

/* Command Palette */
@import "bootstrap/variables";
@import "extraterm-scrollbars";

:host(:focus) {
  outline: none;
}

#ID_RESULTS_CONTAINER {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex-grow: 0;
  flex-shrink: 0;
}

#ID_FILTER {
  box-sizing: border-box;
  width: 100%;
}

#ID_RESULTS {
  overflow: auto;
  cursor: default;
  flex-grow: 1;
  flex-shrink: 1;
}

.CLASS_RESULT_ENTRY {
  display: flex;
  width: 100%;
  
  padding-left: $padding-xs-horizontal;
  padding-right: $padding-xs-horizontal;

  &:hover {
    cursor: pointer;
    outline: 1px solid $background-color-selected;
    outline-offset: -1px;
  }

  &.CLASS_RESULT_SELECTED {
    outline: none;
    color: $text-color-selected;
    background-color: $background-color-selected;
  }
}

et-popdowndialog {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
