/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
@import "fonts/extraicons-fontface";

$drag-bar-height: pxToRem(16px);
$resize-bar-height: pxToRem(4px);

$control-size: pxToRem(21px);


@if($extraterm-titlebar-visible == true or $extraterm-platform == "darwin") {
  #ID_TITLE_BAR {
    display: none;
  }

} @else {

  #ID_TITLE_BAR {
    flex-grow: 0;

    display: flex;
    width: 100%;
  }

  #ID_TITLE_BAR_SPACE {
    flex-grow: 1;
    position: relative;
  }

  #ID_TOP_RESIZE_BAR {
    position: absolute;
    top: pxToRem(0px);
    bottom: $resize-bar-height;
    width: 100%;
  }

  #ID_DRAG_BAR {
    position: absolute;
    top: $resize-bar-height;
    bottom: pxToRem(0px);
    width: 100%;

    -webkit-app-region: drag;
    height: $drag-bar-height;
    cursor: move;
  }

  #ID_MINIMIZE_BUTTON, #ID_MAXIMIZE_BUTTON, #ID_CLOSE_BUTTON {
    flex-grow: 0;
    flex-shrink: 0;

    position: relative;

    width: $control-size;
    height: $control-size;

    color: $text-color;

    background-color: transparent;
    border: 0;
    border-radius: 0;
    vertical-align: baseline;
    background-image: none;
    box-shadow: none;
    
    transition: color,background-color 0.2s ease-in-out;

    &:hover {
      color: $text-highlight-color;
    }

    &:focus {
      outline: pxToRem(0px) solid transparent;
    }

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #ID_MINIMIZE_BUTTON, #ID_MAXIMIZE_BUTTON {
    font-size: 1rem;

    &:hover {
      background-color: $button-default-bg-color;
    }
  }

  #ID_CLOSE_BUTTON {
    &:hover {
      background-color: $brand-danger;
    }
  }

  #ID_MINIMIZE_BUTTON:before {
    font-size: 1rem;
    font-family: extraicons;
    content: "\ea02";
  }

  #ID_MAXIMIZE_BUTTON:before {
    font-size: 1rem;
    font-family: extraicons;
    content: "\ea01";
  }

  #ID_CLOSE_BUTTON:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    content: "\f00d";  
  }

  #ID_DRAG_BAR {
    width: 100%;
    -webkit-app-region: drag;
    height: pxToRem(16px);
    cursor: move;
  }
}

@if $extraterm-platform == "darwin" and $extraterm-titlebar-visible != true {

  // OSX style traffic light window controls.
  #ID_REST_DIV_LEFT {

    & > button {
      display: inline-block;

      width: pxToRem(12px);
      height: pxToRem(12px);
      padding: 0;
      // margin-top: pxToRem(12px);
      margin-left: pxToRem(4px);
      margin-right: pxToRem(4px);

      box-sizing: border-box;
      border-radius: pxToRem(6px);
      border: 1px solid rgba(0, 0, 0, 0.06);
      outline: none;

      color: transparent;
      position: relative;

      font-size: pxToRem(11px);

      &:before {
        position: relative;
        left: 0;
        top: -2px;
        font-size: pxToRem(10px);
        font-family: extraicons;
      }

      &:focus {
        outline: 0 solid transparent;
      }
    }

    &:hover > button {
      color: rgba(0,0,0,0.5);
    }
  }

  #ID_OSX_CLOSE_BUTTON {
    background-color: #fc5753;
    margin-left: pxToRem(3px) !important;
    &:before {
      content: "\ea03";
    }
  }

  #ID_OSX_MINIMIZE_BUTTON {
    background-color: #fdbc40;

    &:before {
      content: "\ea05";
    }
  }

  #ID_OSX_MAXIMIZE_BUTTON {
    background-color: #33c748;

    &:before {
      content: "\ea04";
    }
  }
} @else {
  #ID_REST_DIV_LEFT {
    display: none;
  }
}
