/**
 * Copyright 2017 Simon Edwards <simon@simonzone.com>
 */
@import "general-gui/variables";
@import "general-gui/pxToRem";
@import "fonts/font-awesome";

:host(:focus) {
  outline: 0 solid transparent;
}

#ID_EMPTY_PANE_MENU {
  font-family: $font-family;
  font-size: $input-font-size;
  color: $text-color;
  background-color: $empty-pane-menu-bg-color;

  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_CONTAINER {
  --empty-pane-menu-container-width: #{pxToRem(400px)};
  position: absolute;

  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  
  left: 0;
  right: 0;
  max-width: var(--empty-pane-menu-container-width);

  margin-top: $layout-vertical-spacing;
  margin-left: auto;
  margin-right: auto;
}

#ID_CLOSE_BUTTON {
  align-self: top;
}

#ID_TITLE {
  flex: 0 0;
}

et-listpicker {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}
