/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */
/* terminal styles */
@import 'general-gui/pxToRem';
@import 'general-gui/variables';

:host {
  display: block;
  contain: strict;
}


#ID_TOP {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;
}

#ID_WEST_CONTAINER, #ID_EAST_CONTAINER, #ID_NORTH_CONTAINER, #ID_SOUTH_CONTAINER {
  flex: 0 0 auto;

  background: $tab-bar-background-color;

  & > * {
    margin: $panel-body-padding;
    display: block;
  }
}

#ID_NORTH_CONTAINER {
  border-bottom: 1px solid $tab-border-color;
  padding-bottom: -1px;

}

#ID_SOUTH_CONTAINER {
  border-top: 1px solid $tab-border-color;
  padding-top: -1px;
}

#ID_WEST_CONTAINER {
  border-right: 1px solid $tab-border-color;
  padding-right: -1px;
}

#ID_EAST_CONTAINER {
  border-left: 1px solid $tab-border-color;
  padding-left: -1px;
}

#ID_CENTER_COLUMN {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

#ID_CENTER_CONTAINER {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;

  background-color: var(--terminal-background-color);
}

$style-margin-size: if($extarterm-margin-style == "none", 0px,
if($extarterm-margin-style == "thin", 0.5rem,
  if($extarterm-margin-style == "normal", 1rem,
  2rem)));

#ID_SCROLL_CONTAINER {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
  background-color: var(--terminal-background-color);

  box-sizing: border-box;
  border: $style-margin-size solid transparent;
}

#ID_SCROLL_AREA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--terminal-background-color);

  & > * {
    position: absolute;
  }
  & > et-terminal-ace-viewer {
   left: pxToRem(4px);
   right: pxToRem(4px);
  }
}

#ID_SCROLLBAR_CONTAINER {
  flex: 0;
  height: 100%;
  background-color: var(--scrollbar-background-color);
}

#ID_SCROLLBAR {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  
  border-top: $style-margin-size solid var(--scrollbar-background-color);
  border-bottom: $style-margin-size solid var(--scrollbar-background-color);
}

.CLASS_VISITOR_DIALOG {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

et-upload-progress-bar {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
}
