/**
 * Copyright 2019 Simon Edwards <simon@simonzone.com>
 */
/* terminal styles */
@import 'general-gui/pxToRem';
@import 'general-gui/variables';

:host {
  display: block;
  contain: strict;
  position: relative;
}

#ID_CONTAINER {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  contain: strict;
}

$style-margin-size: if($extraterm-margin-style == "none", 0px,
if($extraterm-margin-style == "thin", 0.5rem,
  if($extraterm-margin-style == "normal", 1rem,
  2rem)));

#ID_SCROLL_CONTAINER {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;

  box-sizing: border-box;
  border: $style-margin-size solid transparent;
}

#ID_SCROLL_AREA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


  & > * {
    position: absolute;
  }
  & > et-terminal-ace-viewer {
   left: pxToRem(4px);
   right: pxToRem(4px);
  }
}

#ID_SCROLLBAR_CONTAINER {
  flex: 0;
  height: 100%;
  background-color: var(--scrollbar-background-color);
}

#ID_SCROLLBAR {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  
  border-top: $style-margin-size solid var(--scrollbar-background-color);
  border-bottom: $style-margin-size solid var(--scrollbar-background-color);
}
