/**
 * Copyright 2016 Simon Edwards <simon@simonzone.com>
 */

/* top-window */
@import "general-gui/variables";
@import 'general-gui/pxToRem';
@import "fonts/fontawesome-fontface";
@import "fonts/extraicons-fontface";
@import "fonts/emoji-fontface";

@import "app-components/window-controls";


$control-size: pxToRem(21px);


DIV.tab_bar_rest {
  display: flex;
  flex-grow: 1;
  
  & > DIV.space {
    flex-grow: 1;
  }
}

BODY {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $tab-bar-background-color;

  &.CLASS_MAIN_NOT_DRAGGING DIV.space {
    @if $extraterm-titlebar-style == "native" {
      -webkit-app-region: drag;
    }
  }
}

EXTRATERM-MAINWEBUI {
  position: absolute; // or relative
  left: 0;
  top: if($extraterm-titlebar-style == "native" or $extraterm-platform == darwin, pxToRem(5px), 0);
  right: 0;
  bottom: 0;
}

*:unresolved {
  background-color: red;
  border: pxToRem(1px) dashed red;
}

#ID_MENU_BUTTON {
  position: relative;

  @if $extraterm-titlebar-style != "compact" {
    align-self: center;
  } @else {
    flex-grow: 0;
    flex-shrink: 0;
    vertical-align: baseline;
    margin-right: $control-size;
  }

  width: $control-size;
  height: $control-size;
  box-shadow: none;

  & > I {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
  }

  &:focus {
    outline: 0 solid transparent;
  }
}
