/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */

/* top-window */
@import "general-gui/variables";
@import 'general-gui/pxToRem';
@import "fonts/fontawesome-fontface";
@import "fonts/extraicons-fontface";
@import "fonts/emoji-fontface";

@import "app-components/window-controls";


$control-size: pxToRem(21px);


DIV.tab_bar_rest {
  display: flex;
  flex-grow: 1;
  
  & > DIV.space {
    flex-grow: 1;
    -webkit-app-region: drag;
  }
}

BODY {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $root-background-color;

  &.CLASS_MAIN_NOT_DRAGGING DIV.space {
    @if $extraterm-titlebar-style == "native" {
      -webkit-app-region: drag;
    }
  }
}

EXTRATERM-MAINWEBUI {
  position: absolute;
  left: 0;
  top: $extraterm-mainwebui-top;
  right: 0;
  bottom: 0;
}

*:not(:defined) {
  display: none;
}

#ID_MENU_BUTTON {
  position: relative;

  @if $extraterm-titlebar-style != "compact" {
    align-self: center;
  } @else {
    flex-grow: 0;
    flex-shrink: 0;

    @if($extraterm-platform == "darwin") {
      align-self: center;
    } @else {
      vertical-align: baseline;
    }
  }

  width: $control-size;
  height: $control-size;
  box-shadow: none;

  & > I {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
  }

  &:focus {
    outline: 0 solid transparent;
  }
}

#ID_CONTROLS_SPACE {
  @if $extraterm-titlebar-style != "compact" {
  display: none;
  } @else {
    @if($extraterm-platform != "darwin") {
      height: 100%;
      width: $control-size;
      -webkit-app-region: drag;
    }
  }
}